:root {
    --ug:rgb(40, 40, 46);
    --tlkk: rgb(0, 124, 120);
    --ug2:  #1d1d1d;
    --bkc:  hsl(213, 45%, 8%);
    --idle: rgb(246, 160, 0);
    --active:  rgb(131, 206, 20);
    --notetext:  #808ea1;
  }