body {
    background-color: var(--midg);
    color: white;
}

:root {
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 5px;
    background-color: var(--lowerg);
}

.logo {
    font-family: poppins;
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}

.link-sec ul {
    list-style: none;
    display: flex;
    gap: 3px;
    padding: 0;
    margin: 0;
}

.link-sec ul li {
    font-family: roboto;
}

.link-sec ul li:hover {
    text-decoration: underline 2px;
    color: var(--tlkk);
    cursor: pointer;
}

.cont {
    width: 90%;
    padding: 200px 20px 0px 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head {
    font-size: 2.5rem;
    font-family: poppins;
    font-weight: 700;
    display: flex;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 16px;
}

.form button:hover {
    border: rgb(255, 0, 0);
}

.form button:nth-child(2) {
    color: white;
    padding: 16px 5px;
    border-radius: 16px;
    font-size: 1.1rem;
    font-family: roboto;
    font-weight: 600;
    background-color: black;
    margin-bottom: 10px;
    border: transparent 2px;
}

.form button:nth-child(3) {
    color: rgb(0, 0, 0);
    padding: 16px 5px;
    border-radius: 16px;
    font-size: 1.1rem;
    font-family: roboto;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: transparent 2px;
}

.sub-text {
    font-size: 0.71rem;
    font-family: Raleway;
    text-align: center;
}

.footer {
    justify-content: space-around;
    font-family: raleway;
    font-size: 0.71rem;
    color: rgb(194, 194, 194);
}



