@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Encode+Sans:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Madimi+One&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

p, a {
  font-family: 'roboto', arial;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: none;
}

.btn-no-value {
  border: none;
  border-style: none;
  background-color: transparent;
  color: inherit;
}

.pos-cent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-btn {
  cursor: disabled;
}

.cur:hover {
  cursor: pointer;
}

.special-m1:hover {
  color: var(--tlkk);
}

.fr {
  float: right;
}

.hb- {
  border: solid red;
}

.u {
  text-decoration: underline !important;
}

.vb- {
  border: solid blue;
}

.i {
  display: inline-block !important;
}

.dn {
  display: none !important;
}

.th {
  font-family: tahoma;
}

.tx-ss {
  font-family: 12px;
}

.it {
  font-style: italic;
}

.tx-s {
  font-size: 17px;
}

.cs-b {
  border: solid rgb(141, 140, 140) 1px;
  border-radius: 5px;
}

.cs-b2 {
  border: solid rgb(141, 140, 140) 2px;
  border-radius: 5px;
}

.h-n {
  height: none !important;
}

.dbb {
  display: block !important;
}

.fl-c {
  display: flex;
  flex-direction:column !important;
}

.fl-r {
  display: flex;
  flex-direction: row !important;
}

.fl-ai {
  display: flex;
  align-items: center !important;
}

.fl-st {
  display: flex;
  align-items: stretch !important;
}


.fl-bl {
  display: flex !important;
  align-items: baseline !important;
}

.fl-jsp-c {
  display: flex !important;
  justify-content: center !important;
}

.fl-jsp-b {
  display: flex !important;
  justify-content: space-between !important;
}

.fl-jsp-start {
  display: flex !important;
  justify-content: flex-start !important;
}

.fl-jsp-end {
  display: flex !important;
  justify-content: flex-end !important;
}

.g-3 {
  gap: 3px;
}

.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-20 {
  gap: 20px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}


.fl-wr{
  flex-wrap: wrap;
}

.fl-grw {
  flex-grow: 1;
}

.link-b {
  font-family: 'roboto', arial;
  color: rgb(189, 189, 189);
  text-decoration: none;
}

.link-b-a {
  color: var(--tlkk);
}

.uh:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.link-b:hover {
  color: var(--tlkk);
}

button {
  border: solid;
  border-width: 1.1px;
  border-style: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


.img-1{
  margin-right: 10px;
  margin-left: 5px;
  width: 80px;
}

.imgmed {
  width: 200px;
  display: inline-block;
}

.pfp {
  width: 20px;
}

:root {
  --ug:rgb(40, 40, 46);
  --tlkk: rgb(0, 124, 120);
  --ug2:  #1d1d1d;
  --bkc:  hsl(213, 45%, 8%);
  --idle: rgb(246, 160, 0);
  --active:  rgb(131, 206, 20);
  --notetext:  #808ea1;
}

:root { 
  --smooth-dept: cubic-bezier(0.22, 0.74, 0.43, 1.04);
  --smoth-dept-bounce: cubic-bezier(0.22, 0.74, 0.43, 1.3);
}

.op-n {
  opacity: 0;
}

.op-7 {
  opacity:0.7;
}

.standard_tx-center {
    text-align: center;
}

.wi-100 {
  width: 100%;
}

.stand_er-invert {
  filter: invert();
}

.stand_er-bw{
  filter: grayscale(100%);
}

.stand_er-place {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stand_er-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.stand_er-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.stand_er-upper {
  text-transform: uppercase;
}

.stand_er-lower {
  text-transform: lowercase;
}

.stand_er-capitalize {
  text-transform: capitalize;
}

.stand_er-reverse-txt {
  text-transform: reverse;
}

.stand_er-reverse-item {
  transform: rotate3d(0, 1, 0, 180deg);
}

.fl-c-reverse {
  display: flex;
  flex-direction: column-reverse !important;
}

.fl-r-reverse {
  display: flex;
  flex-direction: row-reverse !important;
}

.fl-c-to-r {
  display: flex;
  flex-direction: column !important;
}

.fl-r-to-c {
  display: flex;
  flex-direction: row !important;
}

.stand_er-close {
  rotate: 45deg;
  background-color: gray;
  padding: 1rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.stand_er-close-text {
  background-color: gray;
  padding: 0.3rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}



@media all and (width > 1280px) { 
  

}

@media all and (min-width: 1124px) and (max-width: 1280px) { 
  
}


@media all and (min-width: 768px) and (max-width: 1124px) { 
  

}

@media all and (min-width: 480px) and (max-width: 768px) { 
  .fl-c-to-r {
    display: flex;
    flex-direction: row !important;
  }

  .fl-r-to-c {
    display: flex;
    flex-direction: column !important;
  }
}

@media all and (max-width: 480px) { 
  .fl-c-to-r {
    display: flex;
    flex-direction: row !important;
  }

  .fl-r-to-c {
    display: flex;
    flex-direction: column !important;
  }
  
}

:root {
  --font-1: roboto, sans-serif;
    --font-2: 'Cal Sans', sans-serif;
    --font-3: 'DM Serif Text', serif; 
    --font-4: 'Doto', sans-serif;
    --font-5: 'Fredoka', sans-serif;
    --font-6: 'Merriweather Sans', sans-serif;
    --font-7: 'Neuton', serif;
    --font-8: 'Oswald', sans-serif;
    --font-9: 'Pacifico', cursive;
    --font-10: 'Pirata One', display;
    --font-11: 'Playfair Display', serif;
    --font-12: 'Roboto Mono', monospace;
    --font-13: 'Roboto', sans-serif;
    --font-14: 'Special Gothic Expanded One', sans-serif;
}