body {
    background-color: var(--lowg);
}

.text-1 {
    font-size: 25px;
    color: var(--textg);
}


.nav {
    background-color: var(--lowg);
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    box-shadow: 0px 9px 6px 0px rgba(0,0,0,0.54);
    border-bottom: solid  rgb(75, 75, 75);
}

:root {
    --gradient:linear-gradient(0deg, rgba(2,0,36,0.773546918767507) 0%, rgba(0,0,56,0.77) 19%, rgba(0,0,56,0.77) 52%, rgba(0,95,115,0.77) 100%);
}

.nav-logo {
    color: rgb(187, 187, 187);
    font-weight: 600;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:last-child {
    margin-right: 5px;
}

.nav-links a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--tlkk);
}

.top-cont {
    background-image: url(/projects/proj/images/grid-repaet-2.png);
    background-position: bottom;
    height: 268px;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    color: var(--midg);
}

.sub-cont{
    color: var(--textg);
    font-weight: 600;
    margin-top: 5px;
    font-size: 13px;
}

.input {
    outline: none;
    background-color: var(--midg);
    border-style: none;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    border: var(--highg) 1px solid;
    padding-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.powershell {
    border-top: solid #02006e 5px;
    background-color: var(--ps-color);
    padding: 5px;
    margin-bottom: 60px;
}

.powershell span {
    font-weight: 600;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-box {
    width: 350px;
    background-color: var(--midg);
    border-radius: 3px;
    color: rgb(223, 223, 223);
    padding: 23px;
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.35);
    font-size: 18px;
}

.text-box button {
    border-style: none;
    font-size: 20px;
    margin-top: 15px;
    color: white;
    background-color: var(--tlkk);
    padding: 10px;
    border-radius: 8px;
}


.text-box button:hover {
    background-color: rgb(1, 175, 175);
}

.text-box button:active {
    background-color: gray;
}

#suggestions {
    width: 400px;
    margin: auto;
    background-color: var(--bkc);
    border: solid rgb(158, 158, 158);
    border-width: 1.4px;
    border-radius: 20px;
    border-top: none;
    display: none;
    color: white;
    font-family: roboto;
  }
  
  #suggestions div {
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #suggestions div:hover {
    background-color: var(--bkch);
  }


