body {
    overflow-x: hidden;
    letter-spacing: -0.08rem;
}

.loader {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    animation: none-ani 1s forwards ease-out;
    animation-delay: 0.8s;
    transition: 0.100s;
    pointer-events: none;
}

.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    width: 4rem;
    animation: 1s sli ease infinite;
}

.footer {
    padding: 20px 0px 20px 10px;
    width: 100%;
}

.f-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.f-h {
    font-size: 5rem;
    font-family: poppins;
}

.f-n {
    font-size: 2rem;
    font-family: poppins;
}

.f-grid{
    display: grid; 
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   gap: 0px;
}

.f-item {
    width: 100%;
    border: solid 1px black;
    height: 50%;
}

#next {
    background-color: #ECBCBF; 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 2;
}

@keyframes sli {
    0% {
        transform: rotate(0deg);
    }
    50% {
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes none-ani {
    100% {
        opacity: 0;
        display: none;
    }
}

:root {
    font-size: 25px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: poppins;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
}

a {
    color: inherit;
}

.cont-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cont-1 div {
    width: 100%;
    height: 10%;
    text-align: center;
}

.layer-2 {
    display: flex;
    flex-direction: column;
}

.cont-1 div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: solid black 5px;
}

.cont-1 div:nth-child(2) {
    border-bottom: solid black 5px;
}

.cont-1 div:nth-child(1) {
    animation: openAniL 1s  ease-out;
    animation-delay: 0.9s;
}

.cont-1 div:nth-child(2) {
    animation: openAniR 1s ease-out;
    animation-delay: 0.9s;
}

@keyframes openAniR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes openAniL {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.gall {
    display: flex;
    width: 100%;
    overflow: hidden;
}

#c-1 {
    width: 25%;
}
#c-2 {
    width: 33%;
}
#c-3 {
    width: 42%;
}

.col {
    display: flex;
    flex-direction: column;
}


#c-1 .sec{
    height: 16rem;
    background-color: brown;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

#c-2 .sec{
    height: 24rem;
    background-color: brown;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

#c-3 .sec{
    height: 14rem;
    background-color: brown;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.sec {
    position: relative;
}
.sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.123s;
    z-index: 3;
    position: absolute;
}

@keyframes uprise {
    0% {

    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.title {
    position: absolute;
    top: 10px;
    right :10px;
    z-index: 1;
    font-family: poppins;
    font-weight: 600;
    color: white;
    transition: all 0.123s;
}

.escuchar {
    display: flex;
    align-items: center;
    padding: 13px;
    gap: 10px;
    background-color: white;
    border-top: solid 1px black;
}

.ac {
    background-color: white;
}

.escuchar span{
    font-size: 1rem !important;
    font-family: roboto;
    font-weight: 600;
    animation: moveRight infinite 0.5s linear;
}

@keyframes moveRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#sec-ty-2 {
    background-color: rgb(33, 169, 193) !important;
}



.img:hover {
    opacity: 0.1 !important;
}

.img:hover .title{
    display: block;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    #c-1 {
        width: 50%;
    }
    #c-3 {
        display: none;
    }
    #c-2 {
        width: 50%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    #c-1 {
        display: none;
    }
    #c-3 {
        display: none;
    }
    #c-2 {
        width: 100%;
    }
 }

@media all and (max-width: 480px) { 
    #c-1 {
        display: none;
    }
    #c-3 {
        display: none;
    }
    #c-2 {
        width: 100%;
    }
}