.cursor {
    cursor: none;
    position: relative;
    filter: blur(8px);
    opacity: 0.6;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgb(175, 181, 211);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(70, 252, 176) 100%);
    pointer-events: none; /* Allow clicks to pass through */
    transition: all 0.025s;
  }
  
  .all {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    opacity: 0;
    position: absolute;
    cursor: none;
    pointer-events: none;
  }

  body {
    overflow-x: hidden;
  }