

.dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10000;
}

.dropdown > li {
  position: relative;
  padding: 10px;
  border: 2px solid #ccc;
  display: inline-block;
  cursor: pointer;
}

.dropdown > li > a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.dropdown > li > ul {
  list-style-type: none;
  visibility: hidden;
  position: absolute;
  right: 0;
  width: calc(100% + 10px);
  background-color: #888888;
  margin: 0;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  top: 40px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.blurer {
  position: fixed;
  z-index: 9000;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  background-color: rgba(119, 119, 119, 0.03);
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.dropdown > li:hover .blurer {
  visibility: visible;
  opacity: 1;
}

.dropdown > li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 50px;
}
