.login {
    width: 100vw;
    height: 100vh;
}

.lg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.date {
    position: absolute;
    bottom: 3.5rem;
    left: 3.5rem;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date .date-time {
    font-size: 5.5rem;
    font-weight: bold;
}

.date .date-date {
    font-size: 1.5rem;
    font-weight: 600;
}

.widget-cont {
    position: absolute;
    padding: 2rem;
    display: flex;
}

.widget-cont#widget1 {
    top: 1.5rem;
    left: 1.5rem;
    gap: 1rem;
}

.widget-cont.x2 {
    flex-wrap: wrap;
    gap: 1rem;
}

.widget-cont.x2 > * {
    flex: 0 0 calc(50% - 0.5rem);
    box-sizing: border-box;
}
.widget {
    width: 12rem;
    height: 6rem;
    padding: 0.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(199, 49, 49, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: var(--subtle-bkg-red);
    /* background: var(--subtle-bkg-red); */
    

    font-family: var(--font-1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* Gradient border */
    position: relative;
    z-index: 2;
    color: white;
}

.widget::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.8rem;
    padding: 1.5px; /* Border thickness */
    background: var(--frost-glass);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
    scale: 1.01;
}

span.wdg-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

span.wdg-text {
    font-size: 1.2rem;
    font-weight: 400;
}

span.wdg-subtle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--subtle-text-white)
}

.widget.inbox {
    background: var(--subtle-bkg-red-grad);
}

:root {
    --subtle-bkg-red-grad: linear-gradient(135deg, #d3000054 0%, #ff66662d 100%);
    --subtle-bkg-red: rgba(255, 20, 20, 0.413);
    
    --frost-glass: linear-gradient(135deg, #e1e1e194 0%, #e7e7e727 100%);
    

    --subtle-text-black: rgba(0, 0, 0, 0.7);
    --subtle-text-white: rgba(255, 255, 255, 0.7);
}