@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Encode+Sans:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Madimi+One&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
background: radial-gradient(circle, rgba(16,29,98,1) 0%, rgb(29, 15, 82)100%);
  background-repeat: no-repeat;
  backdrop-filter: blur(4.6px);
  margin: 0;
color: white;
}

:root {
  font-size: 16px;
}

nav {
position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
  z-index: 1000;
}

.nav {
  display: flex;
  padding: 10px 70px 10px 70px;
  align-items: center;
  color: white;
  font-family: ROBOTO;
  backdrop-filter: blur(19px);
  background: rgba(0, 0, 0, 0.445);
border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.nav-sec1 {
  width: 120px;
}

.nav-sec2 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  width: 120px;
}

.nav-sec2 ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-weight: 600;
}

.nav-sec2 ul li:hover{
  text-decoration: underline 2px;
  cursor: pointer;
}

.cont {
  display: flex;
  justify-content: center;
  padding: 0px 6%;
  font-family: roboto;
}

.glass {
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3)
}

.glass.main {
  border-radius: 9px;
  padding: 30px;
  display: flex;
  row-gap: 10px;
}

.fill {
    margin-top: 100px;
}

.text {
  font-family: roboto;
  display: flex;
  gap: 25px;
}

.g-head {
  font-size: 4.3rem;
  font-weight: 600;
}

.g-text {
  font-size: 1.5rem;
}

.text-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.btn {
  background-color: black;
  color: white;
  border-style: none;
  padding: 7px 10px 7px 10px;
  border-radius: 20px;
}

#stay {
    padding-top: 400px;
}

a {
  text-decoration: none;
  font-style: none;
  color: white;
}

.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.308);
}

.img-sec {
  width: 100px;
  display: none;
}

.img-sec img{
  width: 100px;
  border-radius: 10px;
}

.img-sec img:nth-child(2){
  width: 100px;
  border-radius: 10px;
}

#cont-1 {
    margin-top: 300px;
    background-color: rgba(0, 95, 139, 0.795);
    padding: 30px;
    min-height: 400px;
}

.blob {
    background-color: rgb(111, 111, 247);
    padding: 60px;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    z-index: -9;
    backdrop-filter: blur(10px);
    display: none;
}

.blob:nth-child(2) {
    left: 80px;
}

#sec2 {
 margin-top: 100px;
}

@media only screen and (width > 1200px) {
  .img-sec {
    display: block;
  }

  .blob {
    display: block;
  }
}

@media only screen and (max-width : 992px) {
  :root {
    font-size: 13px;
  }
}

@media only screen and (max-width : 768px) {
  :root {
    font-size: 10px;
  }

  .text {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  nav {
    margin-bottom: 30px;
    padding: 0px;
  }

  .btn-group {
    margin-top: 10px;
  }

  .nav-sec2 ul {
    display: flex;
    gap: 15px;
  }
  
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 10px;
  caption-side: bottom;
  empty-cells: show;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

caption {
  font-weight: bold;
  padding: 10px;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #272727;
}

tr:nth-child(even) {
  background-color: #2e2e2e;
}

tr:hover {
  background-color: #3d3d3d;
}
