@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Encode+Sans:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Madimi+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(231, 91, 152) 0%, rgb(29, 216, 207) 53%, rgba(148,187,233,1) 100%);
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  --font-serif:  "Noto Serif", serif;
}

.uh {
  text-decoration: underline;
}

nav {
  display: flex;
  padding: 10px 70px 10px 70px;
  align-items: center;
  color: white;
  font-family: ROBOTO;
  margin-bottom: 130px;
  position: ab;
}

.nav-sec1 {
  width: 120px;
}

.nav-sec2 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  width: 120px;
}

.nav-sec2 ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-weight: 600;
}

.nav-sec2 ul li:hover{
  text-decoration: underline 2px;
  cursor: pointer;
}

.cont {
  display: flex;
  justify-content: center;
  padding: 0px 6%;
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.308);
  backdrop-filter: blur(8.6px);
}

.glass.main {
  border-radius: 9px;
  padding: 30px;
  display: flex;
  row-gap: 10px;
}

.text {
  font-family: roboto;
  flex-direction: row;
  display: flex;
  gap: 25px;
}

.g-head {
  font-size: 4.3rem;
  font-weight: 600;
}

.g-text {
  font-size: 1.5rem;
}

.text-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.btn {
  background-color: black;
  color: white;
  border-style: none;
  padding: 7px 10px 7px 10px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  font-style: none;
  color: white;
}

.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.308);
}

.img-sec {
  width: 100px;
  display: none;
}

.img-sec img{
  width: 100px;
  border-radius: 10px;
}

.img-sec img:nth-child(2){
  width: 100px;
  border-radius: 10px;
}

#serif-head {
  font-family: var(--font-serif);
}

#sec2 {
  margin-top: 300px;
  background-color: rgb(194, 196, 63);
  padding: 100px 20px;
  color:rgb(19, 63, 48);
 }

#sec3 {
  background-color: rgb(60, 201, 194);
  padding: 100px 20px;
  color:rgb(236, 173, 0);
}

#sec4 {
  background-color: rgb(123, 66, 216);
  padding: 100px 20px;
  color:rgb(0, 236, 138);
}

.img-l-sec video {
  width: 260px;
}

.nav-alt {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 1s ease;
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(to bottom rgba(0, 0, 0, 1), rgba(201, 35, 35, 0.6));
  width: 100%;
  z-index: 999;
}

.nav-alt nav {
  margin-bottom: 10px;
  padding: 3px 50px;
}

.nav-alt img {
  width: 100px;
}

#text-sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  max-width: 400px;
}

.img-l-sec figure{
  width: 500px;
}

figure, figcaption {
  padding: 0;
  margin: 0;
}

.img-l-sec figcaption{
  font-size: 1.2rem;
  font-weight: 300;
}

.img-l-sec {
  display: flex;
  gap: 30px;

}

.rand {
  position: relative;
  height: 400px;
  width: 300px;
}

.rand img, .img-seq {
  width: 170px;
  position: absolute;
  border-radius: 20px;
}

.img-seq img {
  width: 200px;
  background-size:contain;
  height: 400px;
  object-fit: cover;
}


.price {
  left: 10px;
  bottom: 47px;
  color: rgb(202, 202, 202);
}

.window-title {
  left: 10px;
  bottom: 70px;
  font-size: 0.9rem;
}

.img-seq span {
  position: absolute;
  z-index: 3; 
}

.img-seq {
  position: relative;
  color: beige;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
  z-index: 2; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  backdrop-filter: blur(1px);
}

.window-title.btn {
  position: absolute;
  bottom: 10px;
  z-index: 3; 
}

.rand img:first-child {
  transform: translate(-45%, 40%);
}

.rand img:nth-child(2) {
  transform: translate(35%, 35%);
}

.rand img:nth-child(3) {
  transform: translate(85%, 5%);
}

.search {
  transform: translate(50%, 260%);
  background-color: white;
  color: black;
  font-weight: 600;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.scroll-div {
  opacity: 0;
  transition: opacity 0.45s ease;
}

.scroll-div.active-c {
  opacity: 1;
}

.animated-element {
  opacity: 0; /* Initially hide the element */
  transition: opacity 1s ease; /* Smooth transition for opacity */
}

.animated-element.active {
  opacity: 1; /* Show the element when active class is applied */
}

footer {
  background-color: aliceblue;
  color: black;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  font-family: roboto;
}

footer a {
  color: black;
}

.col {
  display: flex;
  flex-direction: column;
}

.f-head {
  border-bottom: solid 1px rgb(187, 187, 187);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

footer div div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cover {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  opacity: 1;
}

.blank {
  background-color: rgb(255, 255, 255);
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: -90px;
  height: 800px;
  transform: translateY(-113%);
}

.fadeup-ani {
  animation: fadeUp 1.2s ease forwards;
}

.fade-ani {
  animation: fade 1.9s ease forwards;
}

@keyframes fadeUp {
  0% {
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    display: none;
     /* Adjust this value based on how far you want it to move up */
  }
}


@media only screen and (width > 1200px) {
  .img-sec {
    display: block;
  }
}

@media only screen and (max-width : 992px) {
  :root {
    font-size: 13px;
  }

  .img-l-sec figure, 
  .img-l-sec figure img
  {
    width: 300px;
    margin-bottom: 10px;
  }
  
  .img-l-sec {
    flex-direction: column;
  }
  
}

@media only screen and (max-width : 768px) {
  :root {
    font-size: 10px;
  }

  .cover img {
    width: 300px;
  }

  .text {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  nav {
    margin-bottom: 30px;
    padding: 0px;
  }

  .btn-group {
    margin-top: 10px;
  }

  .nav-sec2 ul {
    display: flex;
    gap: 15px;
  }
  
}