body {
    background-color: rgb(2, 2, 2);
    color: white;
    overflow-y: hidden;
}

.d-cont-1 {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}


.d-vid {
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.vid-info {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    position: fixed;
    bottom: 3rem;
    left: 2rem;
}

#redirect-message-li {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1000;
    animation: link-in 0.6s forwards linear;
}

.level {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-left: 100%;
    background-color: brown; 
    overflow-y: hidden;
}

.scroller {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

@keyframes link-in {
    to {
        transform: translate(100vw);
    }
}

video {
    animation: vid forwards linear;
    animation-delay: 2s;
}

@keyframes vid {
    from {
        opacity: 0;
        display: none;
    }
    to {
        display: block;
    }
}

.heads {
    font-family: var(--b-1);
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    mix-blend-mode: difference;
}