@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: rgb(255, 0, 0);
    color: white;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::selection {
    background-color: bisque;
    color: black;
}

.scoller-i {
    overflow-y: scroll;
    background-color: black;
}

:root {
    font-size: 26px;
    --b-1: "Inter", sans-serif;
    --b-2: "Roboto Mono", monospace;
    --baz: cubic-bezier(0.22, 0.74, 0.43, 1.05);
    --b-3: "Poppins", sans-serif
}

.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: black;
    overflow: hidden;
    animation: test 0.6s ease-out forwards;
    animation-delay: 1.9s; 
}

.wipe {
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.wipe-rl {
    animation: wipe-rl 0.3s var(--baz) forwards;
}

.wipe-lr {
    animation: wipe-lr 0.3s var(--baz) forwards;
}

@keyframes wipe-rl {
    to {
        left: 0;
    }
}

@keyframes wipe-lr {
    from {
        left: 0;
    }
    to {
        left: -100vw;
    }
}

@keyframes test {
    to {
        width: 0px;
        display: none;
    }
}

@keyframes loader{
    20% {
        width: 50%;
    }
    60% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

.load-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
}

.load-sec img {
    width: 100%;
}

.load-ani {
    display: flex;
}

.loader-sec {
    flex-grow: 1;
}

.load-bar {
    background-color: white;
    width: 0%;
    height: 100%;
    animation: loader 2.1s linear forwards;
}

.cont-1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.vid {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#videoPlayer {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: parr linear forwards;
    animation-timeline: scroll();
}

@keyframes parr {
    to {
        object-position: 0px -50px;
    }
}

.aero-logo {
    width: 4rem;
    object-fit: cover;
    transform: translateY(-200%);
    animation: flyDwn 1s var(--baz) forwards ;
    animation-delay: 2.3s;
}


.top-nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-family: var(--b-2);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(124,126,126,0.31976540616246496) 55%, rgba(46,50,49,0.8407738095238095) 100%);
}



.nav-item {
    display: flex;
    flex-direction: column;
    font-size: 0.3rem;
}

.nav-item:nth-child(1) {
    transform: translateY(-200%);
    animation: flyDwn 1s var(--baz) forwards ;
    animation-delay: 2.4s;
}

.nav-item:nth-child(2) {
    transform: translateY(-200%);
    animation: flyDwn 1s var(--baz) forwards ;
    animation-delay: 2.6s;
}

.nav-item:nth-child(3) {
    transform: translateY(-200%);
    animation: flyDwn 1s var(--baz) forwards ;
    animation-delay: 2.7s;
}

.nav-item:nth-child(3) {
    transform: translateY(-200%);
    animation: flyDwn 1s var(--baz) forwards ;
    animation-delay: 2.8s;
}

.nav-item span {
    max-width: 4rem;
    cursor: pointer;
}

.bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 50px;
    width: 100%;
}

#video-info {
    font-family: var(--b-3) !important;
    font-weight: 500;
    max-width: 13rem;
    transition: all 0.342s;
}

#video-list li{
    mix-blend-mode: difference;
    padding: 3px;
    cursor: pointer;
    transition: all 0.342s;
    font-size: 0.8rem;
}

#video-list li:hover {
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: invert();
    font-size: 1rem;
}

.highlight {
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: invert();
    font-size: 1.2rem !important;
}

.cont-3 {
    height: 50vh;
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

.bl {
    color: black;
}

.forth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 30px;
}

.f-header {
    font-family: var(--b-1);
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: -0.5rem;
}

.subhead {
    font-size: 4.5rem;
    font-weight: 100;
    font-family: var(--b-1);
}

.f-i {
    display: flex;
    flex-direction: column;
}

#sub {
    font-family: var(--b-2);
    font-weight: 300;
    font-size: 0.6rem;
    letter-spacing: normal;
    align-self: flex-end;
}

.cont-4 {
    background-color: rgb(0, 0, 0);
}

.work-sec {
    display: flex;
    overflow: hidden;
    height: 25rem;
    margin: 4rem 0rem;
}

.work {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
}

a {
    font-style: none;
    text-decoration: none;
    color: white;
}

.text {
    font-family: var(--b-2);
    line-height: -10px;
    font-size: 0.6rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 300;

}

#work-grow {
    flex-grow: 2;
}

.text a, .text span {
    max-width: 40%;
}

.work:nth-child(even) {
    flex-direction: column-reverse;
}

.work img, .work video {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
}

.red {
    background-color: red;
    width: 100%;
    height: 100%;
}

.img-sec video, .img-sec img{
    position: absolute;
    top: 0;
    left: 0;
}

.cont-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-top: 50vh;
}

.c-5 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 3rem;
}

.c-5 span:first-child {
    font-family: var(--b-2);
    font-size: 0.9rem;
}

.c-5 span:nth-child(2) {
    text-align: right;
    font-family: var(--b-3);
    font-size: 7rem;
    line-break: none;
    font-weight: 600;
    white-space: nowrap;
}


@keyframes flyDwn {
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

