@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: blue;
    overflow-x: hidden;
}

:root {
    font-size: 30px;
    --b-1: "Roboto Mono", monospace;
    --b-2: "Poppins", sans-serif;
    --b-3: "Raleway", sans-serif;
    --b-4:  "Source Code Pro", monospace;
    --ani-1: 1.6s;
    --ani-1: 1.9s;
    --lg-3: linear-gradient(270deg, #ffee00,#ffae2c);
    --lg-2: linear-gradient(270deg, #4e07b2,#1152dc);
    --lg-1: linear-gradient(270deg, #43b207,#00e96d);

}

.loader {
    display: flex;
    justify-content: center;
    animation: close 0.4s ease-out forwards;
    animation-delay: 1.6s; 
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.animation-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
}

.animation-open span {
    font-family: var(--b-2);
    font-weight: 700;
    letter-spacing: -5px;
    font-size: 4rem;
    transform: translateY(80%);
    animation: flyUp 0.9s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

@keyframes flyUp {
    to {
        transform: translateY(0%);
    }
}

@keyframes flyDown {
    to {
        transform: translateY(0%);
    }
}

@keyframes close {
    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes open {
    to {
        opacity: 1;
    }
}

@keyframes flyUps {
    from {
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}



.animation-open span:nth-child(1) {
    animation-delay: 0.13s;
}
.animation-open span:nth-child(2) {
    animation-delay: 0.23s;
}
.animation-open span:nth-child(3) {
    animation-delay: 0.33s;
}
.animation-open span:nth-child(4) {
    animation-delay: 0.43s;
}
.animation-open span:nth-child(5) {
    animation-delay: 0.53s;
}
.animation-open span:nth-child(6) {
    animation-delay: 0.63s;
}
.animation-open span:nth-child(7) {
    animation-delay: 0.73s;
}
.animation-open span:nth-child(8) {
    animation-delay: 0.83s;
}
.animation-open span:nth-child(9) {
    animation-delay: 0.93s;
}


.cont-1 > * {
    transition: all 0.125s;
}


.cont-1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('/images/imitadorabg.jpg');
    opacity: 0.9;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 900px;
}

.c-1_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--b-2);
    letter-spacing: -2px;
    font-weight: 600;
    padding: 90px;
}

.top-level {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    align-items: center;
    opacity: 0;
    transform: translateY(-30%);
    animation: flyUps 1s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
    animation-delay: 1.9s;
}

.bottom-level {
    transform: translateY(-30%);
    animation: flyUps 1s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
    animation-delay: 2.1s;
    opacity: 0;
}

#main-text {
    font-size: 10rem;
}

#info-text {
    font-size: 0.4rem;
    height: 100%;
    max-width: 10rem;
    letter-spacing: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info-text div:nth-child(1) {
    margin-bottom: 0.5rem;
    font-weight: 800;
}

.imgsec {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 998;
    padding: 10px 50px 0px 50px;
    transform: translateY(-90%);
    animation: flyUps 1s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
    animation-delay: 2.4s;
}

.imgsec img {
    width: 100%;
}

.nav-sec {
    cursor: pointer;
}

#logo {
    font-family: var(--b-2);
    font-weight: 700;
    letter-spacing: -3.4px;
    font-size: 1.3rem;
}

#espanol {
    font-family: poppins;
    border: solid black 1px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
    margin-left: 20px;
    transition: all 0.125s;
}

#espanol:hover {
    background-color: white;
    color: black;
}

.cont-2 {
    background-color: aliceblue;
    min-height: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ani-text {
    font-family: var(--b-3), Raleway !important;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
}

.c_2-flex {
    width: 70%;
    display: flex; 
    flex-direction: column;
    margin: 250px 0px;
 }

 .c_2-flex .wr {
    display: flex;
    align-items: center;
    gap: 1rem;
 }


 #item-0 {
    flex: 20%;
    transform: rotate(-180deg);
    background: var(--lg-1);
    background-size: 800% 800%;
 }
 #item-1 {
    flex: 80%;
 }

 #item-2 {
    flex: 20%;
    transform: rotate(270deg);
    background: var(--lg-2);
    background-size: 800% 800%;
 }
 #item-3 {
    flex: 20%;
    background: var(--lg-3);
    background-size: 800% 800%;
 }

 #item-4 {
    flex: 60%;
 }

 .wr[data-style='1'] > .block {
    border-radius: 0.3rem;
 }

 .wr[data-style='2'] > .block {
    border-radius: 5rem;
 }

 .wr[data-style='3'] > .block {
    border-radius: 190px 90px 0px 190px;
 }

 .wr[data-style='4'] > .block {
    border-radius: 190px 0px 0px 0px;
 }

.block {
    background-color: black;
    height: 9rem;
    width: 9rem; /* Add width to make it a block */
    border-radius: 5rem;
    transition: all 0.342s;
    background-size: 800% 800%;
    animation: textGradientAnimation 4s ease infinite;
}

.circle {
    letter-spacing: -0.15rem;
    font-weight: 600;
    transition: all 0.342s;
}

.des {
    font-style:italic;
    font-weight: 700;
}

#uni {
    background: var(--lg-1);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradientAnimation 10s ease infinite;
}

#com {
    background: var(--lg-2);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradientAnimation 10s ease infinite;
}

#best {
    background: var(--lg-3);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradientAnimation 10s ease infinite;
}

.rotate {
    border: solid;
    width: 100%;
    font-family: roboto;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -0.5rem;
    display: flex;
    gap: 0.8rem;
}

.rot {
    animation: sliL 15s infinite linear;
    display: flex;
    gap: 0.8rem;
}

.rot span:nth-child(even) {
    background: linear-gradient(270deg, #73b74f,#c9d127, #ddff03);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradientAnimation 10s ease infinite;
}

.yeller {
    background-color: #ddff03;
    padding: 0.5rem !important;
    border-radius: 3rem;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, 150%);
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: all 0.324s ease-out;
    gap: 8px;
}

.scrolled {
    transform: translate(-50%, 0%);
}

.clicked {
    border-radius: 0.7rem;
}

.yeller.clicked {
    opacity: 1;
}

.yeller.clicked  img {
    animation: quickspin 0.342s ease-out forwards;
}

.clicked .nav-elem {
    display: block;
    animation-delay: 0.2s;
    animation: exp 1.3s ease-out forwards;
}

.nav-elem:nth-child(1) {
    animation-delay: 0.1s;
}

.nav-elem:nth-child(2) {
    animation-delay: 0.15;
}

.nav-elem:nth-child(3) {
    animation-delay: 0.2;
}

.nav-elem:nth-child(4) {
    animation-delay: 0.25;
}

.nav-elem:nth-child(5) {
    animation-delay: 0.1;
}

.imitadora {
    width: 2rem;
    object-fit: cover;
}

.nav-elem {
    height: 0rem;
    opacity: 0;
    display: none;
    cursor:pointer;
}

.nav-elem  span {
    font-family: var(--b-2);
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: -0.1rem;
}

.project {
    overflow: hidden;
}

.track {
    display: flex;
    animation: sliL 1s forwards ease-out;
    animation-timeline: view(150px);
}

.track img {
    aspect-ratio: 1.618;
    object-fit: cover;
    object-position: 20% 50%;
}
@keyframes exp {
    to {
        height: 100%;
        opacity: 1;
    }
}

@keyframes quickspin {
    to {
        transform: rotate(-360deg);
    }
}

 @keyframes textGradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes sliL {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes rot {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}


#stop1 {
    animation: gradientAnimation 10s ease infinite;
}

#stop2 {
    animation: gradientAnimation 10s ease infinite;
    animation-delay: 5s; /* Delay to create the shifting effect */
}

.stickyplace {
    padding: 20px;
    height: 15rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 89.9%;
    transition: all 0.342s;
    position: relative;
}


.projects { 
    background-color: #dedede;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.blob {
    transition: all 0.342s;
}

.js-bluredEle {
    filter: blur(5px);
    opacity: 0;
}

.js-bluredEle.js-bluredEle-active {
    filter: blur(0px);
    opacity: 1;
}

.animated-element {  
    opacity: 0; /* Initially hide the element */
  }

  .animated-element.active {
    transition: all 0.342s;
    opacity: 1; /* Show the element when active class is applied */
  }
  
  .animated-element.blok.active {
    opacity: 1; /* Show the element when active class is applied */
  }


  .animated-element.ani-text.active,
   .animated-element.v-info-sec2.active {
    line-height: 45px;
    transition: all 0.342s;
    opacity: 1; /* Show the element when active class is applied */
  }

  #b-1 {
    width: 9%;
    height: 60%;
    background-color: #b4b4b4; /* Example color */
}

#b-2 {
    width: 18%;
    height: 90%;
    background-color: #66ff66; /* Example color */
}

#b-3 {
    width: 12%;
    height: 95%;
    background-color: #6666ff; /* Example color */
}

#b-4 {
    width: 8%;
    height: 73%;
    background-color: #ffcc66; /* Example color */
}

#b-5 {
    width: 12%;
    height: 81%;
    background-color: #66ccff; /* Example color */
}

#b-6 {
    width: 11%;
    height: 60%;
    background-color: #cc66ff; /* Example color */
}


.stickyplace[data-setconfigure='1'] {
}

.stickyplace[data-setconfigure='1'] .blob {
    border-radius: 5rem;
    transform: translateY(10%);
}

.stickyplace[data-setconfigure='2'] .blob:nth-child(even) {
    border-radius: 190px 90px 0px 190px;
}

.stickyplace[data-setconfigure='2'] .blob:nth-child(odd) {
    border-radius: 0px 190px 0px 190px;
}

.stickyplace[data-setconfigure='5'] .blob:nth-child(even) {
    border-radius: 0px 190px 190px 0px ;
}

.stickyplace[data-setconfigure='5'] .blob:nth-child(odd) {
    border-radius: 50%;
}

.stickyplace[data-setconfigure='3'] .blob:nth-child(even) {
    height: 10rem;
}

.stickyplace[data-setconfigure='6'] .blob:nth-child(odd) {
    border-radius: 2rem;
    transform: translateY(10%);
}

.selected {
    transition: 2s;
    transform: scale(25);
    width: 10rem;
    border-radius: 0.5rem;
}

.viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    display: none;
    background-color: rgb(161, 161, 161);
    color: rgb(220, 207, 140);
    overflow-y: scroll;
    transition: all 0.342s;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #089d00d3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #88888800;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55555500;
  }

  .cont {
    display: flex;
    min-height: 40rem;
    opacity: 0;
    animation: open 1s ease-out forwards;
    position: relative;
    margin-bottom: 3rem;
}

#show-case .v-nav{
    display: flex;
}

#show-case {
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

#show-case .v-mag img {
    top: 50%;
    width: 80%;
    object-position: 0px 235px;
    animation: imgParall linear  forwards;
    animation-timeline: view();
    animation-range-end: 30%;
}

@keyframes imgParall {
    0% {
        object-position: 0px 105px;
    }
    100% {
        object-position: 0px 0px;
    }
}

#show-case:nth-child(even) {
    flex-direction: row-reverse;
}

#show-case:nth-child(even) .v-nav{
    align-items: flex-start;
    justify-content: flex-end
}

#show-case .v-info {
    flex: 20%;
    align-items: center;
    opacity: 0;
}

#show-case .v-info {
    flex: 20%;
}

.v-info {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    align-items: flex-end;
}

.name{
    font-family: var(--b-2);
    font-size: 3.3rem;
    line-height: 3rem;
    max-width: 13rem;
    letter-spacing: -0.3rem;
    font-weight: 700;
    position: absolute;
    top: 30%;
    left: 20%;
    text-transform:uppercase;
    opacity: 1;
    transform: translateY(-170%);
    z-index: 2;
    animation: flyUp 1.8s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.sub-name {
    font-size: 1rem;
    max-width: 13rem;
    letter-spacing: -0.1rem !important;
    line-height: normal !important;
    font-weight: 600;
    font-family: var(--b-2);
    animation-delay: 0.3s;
    transform: translateY(-170%);
    animation: flyUp 1.8s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.v-info-sec {
    display: flex;
    flex-direction: column;
    font-family: var(--b-4);
    font-size: 0.7rem;
    max-width: 6rem;
    letter-spacing: -0.1rem;
    font-weight: 400;
    gap: 8px;
    position: absolute;
    top: 60%;
    left: 20%;
    animation-delay: 0.5s;
    transform: translateY(-170%);
    animation: flyUp 1.8s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.v-mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ov {
    overflow: hidden;
    position: relative;
}

.date {
    height: 7rem;
    width: 15rem;
    font-family: var(--b-2);
    font-size: 3.3rem;
    line-height: 3rem;
    letter-spacing: -0.3rem;
    font-weight: 700;
    font-size: 4rem;
    transform: translate(0%, -170%);
    animation: flyUp 1.8s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.date span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-300%);
    animation: flyUp 1.4s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.v-info-sec2 {
    font-family: var(--b-4);
    font-size: 0.7rem;
    max-width: 9rem;
    padding: 20px;
    letter-spacing: -0.1rem;
    font-weight: 400;
    animation-delay: 0.3s;
    transform: translateY(-170%);
    animation: flyUp 1.8s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.v-nav {
    flex: 30%;
}

.v-mag {
    flex: 40%;
    
}

.v-mag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-10%);
    animation: flyUp 1.8s cubic-bezier(0.22, 0.74, 0.43, 1.05) forwards;
}

.viewer.v-on   {
    display: block;
    pointer-events: all;
}

.stickyplace[data-setconfigure='6'] .blob {
    border-radius: 100%;
    transform: translateY(-10%);
    height: 6rem;
    width: 6rem;
}

.stickyplace[data-setconfigure='4'] .blob:nth-child(1) {
}

.stickyplace[data-setconfigure='4'] .blob:nth-child(2) {
}

.stickyplace[data-setconfigure='4'] .blob:nth-child(3) {
}

.stickyplace[data-setconfigure='4'] .blob:nth-child(4) {
}

.stickyplace[data-setconfigure='4'] .blob:nth-child(5) {
}

.stickyplace[data-setconfigure='4'] .blob:nth-child(6) {
}

@media all and (width > 1280px) { 
    :root {
        font-size: 25px;
    }
}

@media all and (min-width: 1124px) and (max-width: 1280px) { 
    :root {
        font-size: 20px;
    }
}

@media all and (min-width: 768px) and (max-width: 1124px) { 
    :root {
        font-size: 16px;
    }

    #info-text {
        display: none;
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) { 
    :root {
        font-size: 10px;
    }
 }

@media all and (max-width: 480px) { }
