body {
    background-color: rgb(227, 220, 12);
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
  }

.cont-1 {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    padding: 1.3rem;
    cursor: default;
}

::selection {
    background-color: black;
    color: yellow;
}

:root {
    font-size: 30px;
}

.c-item:first-child {
    font-size: 11rem;
    background-color: black;
    color: yellow;
}

.c-item {
    padding: 1rem;
}

.title {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: -0.4rem;
    line-height: -2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sub {
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.4rem;
}

#level {
    filter: invert();
}

.cont-2 {
    font-family: "Inter", sans-serif;
    position: relative;
    height: 100rem;
}

.side-cont {
    width: 40%;
    background-color: black;
    color: rgb(255, 255, 0);
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
}

.projes {
    flex-grow: 1;
}

.side-s {
    font-size: 0.6rem;
    font-family: monospace;
    margin-bottom: 4.5rem;
}

.table {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.t-item {
    display: flex;
    flex-direction: column;
    transition: all 0.342s;
    margin-bottom: 0.5rem;
}

.t-item span:first-child {
    font-weight: 600;
    text-transform: uppercase;
}

.t-item span:nth-child(2) {
    font-size: 0.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.t-item:hover {
    background-color: yellow;
    color: black;
    padding-left: 0.4rem;
    cursor: pointer;
}