

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Mono:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  font-size: 26px;
  --base-1: "Inconsolata", monospace;
  --base-2: "Merriweather", serif;
  --base-3: "Oswald", sans-serif;
  --base-4: "Noto Sans Mono", monospace;
  --base-5: "Poppins", sans-serif;
  --base-6: "Playfair Display", serif;
  --cubic: cubic-bezier(0.3, 0.85, 0.61, 0.86)
  --bg: rgb(230, 206, 174);
  --main-color: rgb(0, 0, 0) !important;
}


body {
    background-color: rgb(243, 228, 209);
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.scroller {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    align-items: center
}

.nav > * {
    font-family: var(--base-5);
    font-weight: 600;
    color: black;
    font-size: 0.8rem;
}

.logo {
    width: 25%;
    overflow: hidden;
}

.logo img{
    width: 10rem;
    transform: translateY(-100%);
    animation: openTransform 1.257s forwards cubic-bezier(0.3, 0.85, 0.61, 0.86);
}

.nav-item {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.cont-1 {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.side {
    position: absolute;
    top: 30%;
    left: 2rem;
    font-family: var(--base-3);
    font-size: 1.3rem;
}

.ani-text {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.342s;
}

.ani-text span {
    transition: all 0.342s;
}

.ani-text span:nth-child(2) {
    position: absolute;
    bottom: -100%;
    left: 0%;
}

.ani-text:hover span:nth-child(1){
    transform: translateY(-100%) !important;
}

.ani-text:hover span:nth-child(2){
    transform: translateY(-100%) !important;
}

.ani-pass {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 2rem;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.a-p-item {
    display: flex;
    font-size: 4rem;
    font-family: var(--base-3);
    text-transform: uppercase;
    letter-spacing: -.2rem;
    line-height: 4rem;
    color: rgb(155, 155, 155);
    overflow: hidden;
}
.cpacer {
    flex-grow: 1;
}

.a-p-item:nth-child(1) .a-p-text {
    animation-delay: 0.1s;
}

.a-p-item:nth-child(2) .a-p-text {
    animation-delay: 0.2s;
    -webkit-text-stroke-width: 3px !important;
    -webkit-text-stroke-color: rgb(255, 128, 0);
    color: transparent;
}

.a-p-item:nth-child(3) .a-p-text {
    animation-delay: 0.4s;
}

.a-p-text {
    mix-blend-mode: difference;
    color: rgba(128, 75, 0, 0.843);
    overflow: hidden;
    transform: translate(0%, 100%);
    animation: openTransform 1.257s forwards cubic-bezier(0.3, 0.85, 0.61, 0.86);
}

.photos {
    position: absolute;
    z-index: -1;
    bottom: 5rem;
    left: 3rem;
    opacity: 0.4;
    transform: translateY(-30%);
    filter: blur(4px);
    animation: openTransform 1.17s forwards cubic-bezier(0.3, 0.85, 0.61, 0.86);
}

.img-sec {
    width: 10rem;
}

.img-sec img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 0.3rem;
    transform: rotate(-13deg);
    animation: TransformRot forwards;
    animation-timeline: scroll();
}

.img-sec:hover {
    transform: scale(1.2) !important;
}

#img-1 {
    transform: translate(230%, -70%);
}

.cont-filler {
    height: 100vh;
}

@keyframes openTransform {
    to {
      transform: none;
      opacity: 1;
      filter: blur(0px);
    }
  }

  @keyframes TransformRot {
    to {
      transform: rotate(25deg);
    }
  }

@media all and (min-width: 1024px) and (max-width: 1280px) {
    :root {
      font-size: 18px;
    }
   }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    :root {
      font-size: 15px;
    }
   }
  
  @media all and (min-width: 480px) and (max-width: 768px) { 
    :root {
      font-size: 12px;
    }
  }
  
  @media all and (max-width: 480px) { }