.orders-sec {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--dark);
    color: rgb(167, 165, 165);
    font-weight: 500;
    background-color: var(--5-bg);
}

.order-name {
    font-size: 1.2rem;
    color: white;
}

.order-item {
    color: var(--lime);
}

.order-disc {
    color: var(--lime);
}