.gta6 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  background-color: rgba(2, 2, 2, 0.171);
}

.notif-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: calc(100% - 3.5rem);
  color: white;
  font-family: roboto;
}

.notif-title {
  font-size: 2rem;
  font-weight: 600;
}

.blackwhole {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.beta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  
}

.title {
  font-weight: 500;
  font-size: 1.3rem;
}

@media all and (max-width: 480px) { 
  .blackwhole img{
    height: 100vw;
    transform: scale(4);
  }
}

