.conter {
    padding: 0.5rem;
    box-sizing: border-box;
    color: white;
}

.pageTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: var(--f-1);
    color: white;
    background-image: url(/bp/EE/assets/ouths/network.webp);
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

.online-users {
    display: flex;
    flex-direction: column;
}

.offline .user {
    opacity: 0.5;
}

.users {
    background-color: var(--primary-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.user {
    background-color: var(--7-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.user-bottom {
    color: rgba(255, 255, 255, 0.438);
}

.username-title {
    font-size: 1.4rem;
}

.user .button-sec-1 {
    display: flex;
    gap: 0.5rem;
}

.user button {
    font-size: 1rem ;
}

.bet-profile.lost {
    background-color: red !important;
}

.bet-profile.won {
    background-color: var(--lime) !important;
}