body {
    background-color: rgb(7, 31, 92);
    padding: 0.4rem !important;
}

button:active {
    background-color: gray;
    color: white;
}

button {
    cursor: pointer !important;
}

:root {
    font-size: 20px;
    --main-bg:  rgb(7, 31, 92);
    --secondary-bg: rgb(26, 26, 74);
    --3-bg: rgb(44, 44, 141);
    --lime:  rgb(44, 214, 121)
}

.sec {
    font-family: roboto !important;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box  ;
}

.sports {
    display: flex;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: roboto;
}

.sports span {
    cursor: pointer;
    background-color: var(--3-bg);
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.selected {
    background-color: var(--lime) !important;
    color: white;
}

.bal {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: roboto;
}

.multi-tag {
    background-color:var(--secondary-bg);
    width: 100%;
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    font-weight: 600;
    margin: 0.6rem 0rem;
    padding: .6rem .3rem;  
    display: flex;
    border: solid 1px var(--lime);
    box-sizing: border-box;
    font-family: roboto;
    gap: 0.5rem;
    align-items: center;
}

.multi-title {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--lime);
    border-radius: 0.2rem;
    font-family: roboto;
    padding: 0.2rem;
}

.bet {
    border: solid lime 1px;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 74);
    color: white;
    font-family: inter;
    position: relative;
    margin: 1rem 0rem;
}

.ended , .ongoing {
    background-color: rgba(44, 44, 44, 0.809);
    opacity: 0.8;
    pointer-events: none;
}

.multi {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-weight: 500;
}

.multi.r:nth-child(2) {
    left: 1.5rem;
    color: var(--lime);
}

  .money {
    font-weight: 600;
    font-size: 2rem;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-img {
    width: 7rem;
    margin-top: 2rem;
}


.name {
    margin: 1rem 0rem;
    font-weight: 300;
    font-size: 0.7rem;
}

.bold {
    font-weight: 600;
    text-decoration: underline;
}

.for {
    background-color: gray;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.for span:first-child {
    color: rgb(44, 214, 121);
    font-weight: 600;
}

.for span:last-child {
    color: rgba(255, 255, 255, 0.824);
    font-weight: 300;
}

.button-sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
}

.btn, button {
    padding: 0.2rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.over {
    background-color: rgb(44, 214, 121);
    color: white;
}

.under {
    background-color: rgb(214, 44, 44);
    color: white;
}


  .disabled {
    background-color: rgba(186, 97, 186, 0.507);
  }


  .collapse {
    animation: collapse .6s ease forwards;
}

@keyframes collapse {

    100% {
        height: 0;
        opacity: 0;
        font-size: 0px ;
        padding: 0px;

    }
}
