body {
    background: radial-gradient(circle, rgb(16, 42, 107) 0%, rgb(8, 8, 78) 100%);
    overflow-x: hidden;
}

a {
    color: inherit;
}

.onlineDot-cont {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--lime);
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.snow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.05;
}

.snow img {
    width: 100%;
    height: 100%;
}

.gwl-div {
    width: calc(100% - 3rem) !important;
    display: flex;
    justify-content: center;
}

button:active {
    background-color: gray;
    color: white;
}

button {
    cursor: pointer !important;
}

input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    background-color:rgb(44, 44, 128);
    color: white;
    font-family: inter;
}

.disabled {
    background-color: gray !important;
    color: white !important;
    cursor: not-allowed;
    opacity: 0.5;
}

.linker, a {
    color: var(--lime);
    font-size: inherit;
    text-decoration: underline;
}

.message-cont {
    position: fixed;
    top: 0;
    width: calc(100%);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.message {
    background-color: rgba(173, 216, 230, 0.938);
    padding: 0.5rem;
    color: rgb(59, 59, 59);
    animation: close 3s ease forwards;
    animation-delay: 3s;
}

@keyframes close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.error {
    background-color: rgba(255, 0, 0, 0.76);
    color: white;
}

.box {
    background-color: var(--lime);
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: relative;
    background-color: gray;
    overflow: hidden;
    border-radius: 1.3rem;
    margin: 0.5rem 0rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: inter;
    font-weight: 600;
    color: white;
}

.ac-ou {
    background: rgb(50,189,205);
background: linear-gradient(86deg, rgb(46, 226, 85) 0%, rgb(255, 94, 0) 100%);
}

.light-text {
    font-weight: 400;
}

.sepa {
    width: 100%;
    height: 3px;
    background-color: rgba(128, 128, 128, 0.459);
    margin: 0.5rem 0rem;
}

.sepa-v {
    height: 100%;
    width: 3px;
    background-color: rgba(128, 128, 128, 0.459);
    margin: 0.5rem 0rem;
}

/* :root {
    font-size: 17px;
    --gray-border:  rgb(81, 81, 81);
    --main-bg:  rgb(105, 121, 161);
    --secondary-bg: rgb(17, 17, 59);
    --3-bg: rgb(44, 44, 141);
    --5-bg: rgb(84, 84, 161);
    --6-bg: rgb(120, 138, 153);
    --lime:  rgb(44, 214, 121);
    --red: rgb(214, 44, 44); 
    --f-1: inter;
} */

:root {
    font-size: 17px;
    --gray-border:  rgb(81, 81, 81);
    --main-bg:  rgb(105, 121, 161);
    --secondary-bg: rgb(17, 17, 59);
    --primary-bg: rgb(25, 25, 87);
    --3-bg: rgb(69, 90, 160);
    --5-bg: rgb(84, 84, 161);
    --6-bg: rgb(120, 138, 153);
    --7-bg: rgb(48, 79, 105);
    --lime:  rgb(44, 214, 121);
    --red: rgb(214, 44, 44); 
    --f-1: inter;
}

.stat {
    color: var(--lime);
}

.stat-error {
    color: var(--red);
}

.weup {
    background-color: var(--lime);
}

.wedown {
    background-color: var(--red);
}

.op-5 {
    opacity: 0.5;
}

.fn-1 {
    font-size: 0.1rem !important;
}

.fn-2 {
    font-size: 0.2rem !important;
}

.fn-3 {
    font-size: 0.3rem !important;
}

.fn-5 {
    font-size: 0.5rem !important;
}

.fn-6 {
    font-size: 0.6rem !important;
}

.fn-7 {
    font-size: 0.7rem !important;
}

.fn-8 {
    font-size: 0.8rem !important;
}

.rank-1 {
    color: gray !important;
}


.smi {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.activeSince {
    display: flex;
    flex-direction: column;
}

.activeSince span {
    font-size: 0.7rem;
    opacity: 0.5;
}

.userForm {
    display: flex;
    flex-direction: column;
    font-family: inter;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.userForm-i {
    display: flex;
    align-items: stretch;
}

.add-info {
    background-color: rgba(255, 0, 0, 0.479) !important;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.stats-main {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem !important;
}

.stat-error-border {
    border: solid 2px red;
}

.stats {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.stat span {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    color:rgb(44, 123, 214);
}

.sec {
    font-family: roboto !important;
    padding-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.discord {
    gap: 0.5rem;
    align-items: center !important;
}

.sub {
    font-size: 0.7rem;
    font-family: roboto;
    opacity: 0.4;
}

.icono-2 {
    width: 1.5rem;
    height: 1.5rem;
}

.nav {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box  ;
}

.sports {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: roboto;
    width: 100%;
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0.7rem;
}

.sports span {
    cursor: pointer;
    background-color: var(--3-bg);
    padding: 0.2rem;
    border-radius: 0.3rem;
    flex-grow: 1;
}

.selected {
    background-color: var(--lime) !important;
    color: white;
}

.bal {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: roboto;
}

.multi-tag {
    background-color:var(--secondary-bg);
    width: 100%;
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    font-weight: 600;
    margin: 0.6rem 0rem;
    padding: .6rem .3rem;  
    display: flex;
    border: solid 1px var(--lime);
    box-sizing: border-box;
    font-family: roboto;
    gap: 0.5rem;
    align-items: center;
}

.multi-tag-2 {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: roboto;
    width: 100%;
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0.7rem;
}

.w-100i {
    width: 100% !important;
}

.multi-title {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--lime);
    border-radius: 0.2rem;
    font-family: roboto;
    padding: 0.2rem;
}

.multi-title-xl {
    font-size: 2rem;
}

/* .card {
    border: solid lime 1px;
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: rgb(26, 26, 74);
    color: white;
    font-family: inter;
    margin: 1rem 0rem;
} */

.card {
    border: solid rgb(81, 81, 81) 3px;
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: var(--secondary-bg);
    color: white;
    font-family: inter;
    margin: 1rem 0rem;
}

.mess-sec{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.social-blob {
    background-color: var(--3-bg);
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-family: inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

#discord {
    background-color: rgb(114, 137, 218);
}

#instagram {
    background-color: rgb(255, 0, 132);
background: linear-gradient(45deg, rgba(255, 0, 132, 1) 0%, rgba(255, 153, 0, 1) 100%);
}

.confirm-con {
    position: fixed;
    bottom: 5rem;
    padding: 1rem;
}

.confirm{
    background-color: var(--3-bg);
    color: white;
    font-family: var(--f-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.mess-detail {
    display: flex;
    flex-direction: column;
    font-family: inter;
}

.mess-detail-title{
    font-size: 0.6rem;
    color: rgb(187, 187, 187);
    margin-bottom: 0.5rem;
    background-color: rgb(43, 38, 94);
    padding: 3px;
    border-radius: 4px;
}

.mess-detail-text {
    font-size: 0.9rem;
}

.no-ya {
    background-color: rgba(35, 180, 43, 0.591);
}

.mess {
    background-color: var(--secondary-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.modes {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
    font-family: var(--f-1);
    width: 100%;
}

.mode {
    color: rgb(199, 199, 199);
    background-color: var(--secondary-bg);
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    border: solid rgb(81, 81, 81) 3px;
    border-radius: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.mode.on {
    border: solid rgb(192, 64, 0) 3px;
}

.light {
    background-color: rgb(110, 110, 110);
    width: 10px;
    height: 10px;
    border-radius: 100px;

}

.mode.on .light {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 57px 12px rgba(235,0,0,1);
-moz-box-shadow: 0px 0px 57px 12px rgba(235,0,0,1);
box-shadow: 0px 0px 57px 12px rgba(235,0,0,1);
}

.bet {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inter;
    position: relative;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    overflow: hidden;
}

.bet.parlay {
    animation: glowingGreenBorder 1.5s infinite;
}

.bet.selected {
    border: solid 3px var(--lime) !important;
    background-color: var(--3-bg) !important;
}

@keyframes glowingGreenBorder {
    0% {
        border: solid 3px var(--lime) !important;
    }

    50% {
        border: solid 3px var(--gray-border)   !important;
    }

    100% {
        border: solid 3px var(--lime) !important;
    }
}

.ended , .ongoing {
    background-color: rgba(44, 44, 44, 0.809);
    opacity: 0.8;
    pointer-events: none;
}

.multi {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-weight: 500;
}

.multi.r:nth-child(2) {
    left: 1.5rem;
    color: var(--lime);
}

.bet-info-i {
    background-color: rgb(0, 106, 255);
    padding: 0.4rem;
    border-radius: 0.3rem;
    text-transform: capitalize;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.img-sec  img{
    width: 10rem;
}

  .money {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: inter;
    font-style: italic;
    color: var(--lime);
  }

  .negative {
    color: rgb(214, 44, 44) !important;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-img {
    width: 7rem;
    margin-top: 2rem;
}


.name {
    margin: 1rem 0rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.bold {
    font-weight: 600;
    text-decoration: underline;
}

.for {
    background-color: gray;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.for span:first-child {
    color: rgb(44, 214, 121);
    font-weight: 600;
}

.for span:last-child {
    color: rgba(255, 255, 255, 0.824);
    font-weight: 300;
}

/* .button-sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
} */
 
.button-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.2rem;
}

.button-sec button {
    width: 100%;
    font-size: 1.5rem !important;
}

/* .btn, button {
    padding: 0.2rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.3rem;
} */

.btn, button {
    padding: 0.3rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    font-style: italic;
}

.over {
    background-color: rgb(44, 214, 121);
    color: white;
}

.under {
    background-color: rgb(214, 44, 44);
    color: white;
}



  .disabled {
    background-color: rgba(186, 97, 186, 0.507);
    pointer-events: none;
    cursor: not-allowed;
  }


  /* .collapse {
    animation: collapse .6s ease forwards;
    pointer-events: none;
} */

.collapse {
    animation: full .6s ease forwards;
    pointer-events: none;
}

.spice {
    color: var(--lime);
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
}

.parlayAdd {
    border: solid 5px var(--lime) !important;
    box-sizing: border-box;
}

.waiting {
    animation: awaiting 2s infinite;
}

@keyframes awaiting {
    0% {
       border: solid 5px var(--lime) !important;
    }

    50% {
        border: solid 5px var(--gray-border) !important;
    }

    100% {
        border: solid 5px var(--lime) !important;
    }
}

.team-stats {
    position: absolute;
    top: 30%;
    left: 1.5rem;
    background-color: var(--3-bg);
    padding: 0.5rem;
    border-radius: 10px;
}



.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--3-bg);

    display: flex;
    justify-content: space-around;
    font-family: inter;
    color: white;
    padding: 0.3rem;
}

.bn-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}

.bn-item.sel {
    border-bottom: solid 3px var(--lime);
}

.icon {
    width: 1.6rem;
}

.icon-x {
    width: 2.3rem;
}

.settings-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;
    animation: open .2s ease forwards;
    color: white;
    font-family: inter;
    gap: 0.5rem;
}

.dne {
    display: none ;
}

.dbe {
    display: block !important;
}

.settings {
    display: flex;
    flex-direction: column;
}

.setting {
    background-color: var(--secondary-bg);
    padding: 0.5rem;
}

.team-stats-display {
    background-color: rgba(36, 39, 147, 0.348);
    position: fixed;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: inter;
}

.team-stats-display .card {
    width: 80%;
    display: flex;
    flex-direction: column;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes collapse {

    100% {
        height: 0;
        opacity: 0;
        font-size: 0px ;
        padding: 0px;

    }
}

@keyframes full {

    100% {
        width: 0;
        opacity: 0;
        font-size: 0px ;
        padding: 0px;

    }
}


@media all and (width > 1280px) { 
    .bet {
        width: calc(33% - 2rem);
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }

    :root {
        font-size: 20px;
    }

    .spliter {
        display: flex;
        gap: 0.5rem;

    }

    .sec1 {
        width: 48vw !important;
    }

    .sec2 {
        position: fixed;
        width: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%); ;
    }

    .news-section {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .news {
        width: fit-content;
    }

    .signin-cont {
        width: 50% !important;
        background-color: var(--secondary-bg);
    }

}

@media all and (min-width: 1124px) and (max-width: 1280px) { 
    .bet {
        width: calc(33% - 2rem);
    }


    .news-section {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .news {
        width: fit-content;
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }


    :root {
        font-size: 20px;
    }

    .sec1 {
        width: 48vw !important;
    }

    .sec2 {
        position: fixed;
        width: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%); ;
    }

    .signin-cont {
        width: 50% !important;
        background-color: var(--secondary-bg);
    }
}


@media all and (min-width: 768px) and (max-width: 1124px) { 
    .bet {
        width: calc(50% - 2rem);
    }

    .mess-sec {
        flex-direction: column !important;
    }

    .news-section {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .news {
        width: fit-content;
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }

 }

@media all and (min-width: 480px) and (max-width: 768px) { 
    .bet {
        width: calc(50% - 2rem);
    }

    .mess-sec {
        flex-direction: column !important;
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }
    :root {
        font-size: 20px;
    }

    .news-section {
        display: flex;
        flex-direction: column !important;
        gap: 1rem;
        justify-content: space-between;
    }

    .news-cont .news {
        width: fit-content;
    }

    .news-section :root {
        font-size: 18px !important;
    }
 }

@media all and (max-width: 480px) { 

    .bet {
        width: calc(100% - 2rem);
    }

    .mess-sec {
        flex-direction: column !important;
    }

    .playerCard.bet {
        width: calc(50% - 2rem);
    }


    :root {
        font-size: 16px;
    }

    :root {
        --avg-size: 3.7rem;
    }

    .news-section {
        display: flex;
        flex-direction: column !important;
        gap: 1rem;
        justify-content: space-between;
    }

    .news-cont .news {
        width: fit-content;
    }

    .news-section :root {
        font-size: 18px !important;
    }
 }

 .beta-eddition {
    /* background-color: var(--3-bg); */
    background-image: url(/bp/EE/assets/ouths/chris-2.webp);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    animation: fadeOut 3s ease forwards;
    animation-delay: 0.9s;
    pointer-events: none;
 }

 .beta-eddition div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-family: var(--f-1);
    font-size: 1.4rem;
 }

 .beta-eddition img {
    width: 80%; 
    margin: auto 0;
}

.beta-eddition span {
    background-color: var(--3-bg);
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: var(--f-1);
    color: white;
}

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            display: none;
        }
    }

.R {
    position: relative !important;
    pointer-events: none;
}

.R2 {
    position: relative !important;
}

#js-toggle {
    position: absolute;
    top: -5%;
    right: 0;
    opacity: 0.4;
}
.overlay-message {
    background-color: rgba(54, 98, 33, 0.647) !important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--f-1); 
    border-radius: 0.4rem;   
}

.ts-div {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 16, 102, 0.918);
    z-index: 999;
}

.ts {
    font-weight: 600;
    color: white;
    font-family: var(--f-1);
    background-color: var(--3-bg);
    padding: 1.5rem;
    border-radius: 0.8rem;
    display: flex;
    gap: 0.5rem;
    font-weight: 400;
}

.ts-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.ts-overall {
    font-size: 1.5rem;
    font-weight: 600;
}

#google-auth-div {
    position: fixed;
    width: 100vw;
    height: 100vh; 
    background-color: rgb(63, 24, 153);
    z-index: 1999;
    box-sizing: border-box;
}

.signin-cont {
    position: relative;
    padding:5rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 90%;
}

.logo img {
    width: 100%;
}

.blob-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 1rem;
    transform: translate(-50%, -50%);
    animation: rotateBlob 8s infinite linear;
    scale: 1;
}

.blob {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: var(--lime);
    transform: translate(-50%, -50%);
    filter: blur(70px);
}

.blob:nth-child(1) {
    background-color: rgb(175, 24, 44);
    transform: translate(150%, 0%) rotate(45deg);
}

.blob:nth-child(2) {
    background-color: rgb(78, 57, 214);
    transform: translate(-50%, -10%) rotate(45deg);
}

.blob:nth-child(3) {
    background-color: rgb(24, 175, 44);
    transform: translate(-100%, -80%) rotate(45deg);
}

@keyframes rotateBlob {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.googleButton {
    background-color: rgb(232, 232, 241);
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    border: solid 6px rgb(255, 208, 0);
    font-size: 1.5rem;
}

.googleButton img {
    width: 1.5rem ;
}


.parlays-cont {
    position: fixed;
    bottom: 5rem;
    padding: 1rem;
    width: 100%;
    z-index: 98;
    box-sizing: border-box;
    font-size: 0.8rem;
    display: none;
}

.parlay-div {
    background-color: var(--3-bg);
    color: white;
    font-family: var(--f-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.allParlays-cont {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--f-1);
    font-size: 1.1rem;
    padding: 1rem;
    box-sizing: border-box;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    position: fixed;
    height: 90vh;
    width: 100%;
    background-color: var(--3-bg);
    z-index: 1001;
    bottom: 0;
    left: 0;

}

.info-section {
    width: 100%;
    color: white;
}

.unaparlay {
    background-color: var(--5-bg);
    color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
}

.layer-1 {
    gap: .5rem;
    display: flex;
}

.amount {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--f-1);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.typeSport {
    background-color: var(--3-bg);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-size: 1.1rem;
    font-weight: 600;
}

.who {
    background-color: var(--6-bg);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-size: 1.1rem;
    font-weight: 600;
}

.actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.actions button {
    font-size: 2rem;
    width: 100%;
}

.profile {
    display: none;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-family: var(--f-1);
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--3-bg);
    color: white;
}

.profile img {
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
}

.leader.lebron {
    background: url(/bp/EE/assets/ouths/453223518_1228565591633172_5488051257223547212_n.jpg) no-repeat !important;
    background-position: 50% 59% !important;

    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.messi {
    background: url(/bp/EE/assets/ouths/messi.gif) no-repeat !important;
    background-position: 50% 59% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.pump {
    background: url(https://media.tenor.com/odgHhRJW1CIAAAAC/egonauts-egonaut.gif) no-repeat !important;
    background-position: 50% 10% !important;
    background-size: 70% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
}

.bird{
    background: url(/bp/EE/assets/ouths/bird.gif) no-repeat !important;
    background-position: 50% 59% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.peter {
    background: url(/bp/EE/assets/ouths/peter.gif) no-repeat !important;
    background-position: 50% 59% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.teddy {
    background: url(/bp/EE/assets/ouths/teddy.jpg) no-repeat !important;
    background-size: 50% !important;
    background-position: 50% 59% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.kanye {
    background: url(/bp/EE/assets/ouths/ye.webp) no-repeat !important;
    background-position: 50% 28% !important;

    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.curry {
    background: url(/bp/EE/assets/ouths/curry.webp) no-repeat !important;
    background-position: 20% 35% !important;

    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.glow {
    animation: glowingGreenBorder 3s infinite;
}


.rot {
    animation: spin3d 3s infinite;
}

@keyframes spin3d {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
.rotate-3d {
    animation: rotate3d 3s infinite;
}

@keyframes rotate3d {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
        transform: rotate3d(1, 1, 0, 180deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}
@keyframes glowingGreenBorder {
    0% {
        box-shadow: 0 0 10px var(--lime), 0 0 20px var(--lime), 0 0 30px var(--lime);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 20px var(--6-bg), 0 0 30px var(--6-bg), 0 0 40px var(--6-bg);
        transform: scale(1.01);
    }

    100% {
        box-shadow: 0 0 10px var(--5-bg), 0 0 20px var(--5-bg), 0 0 30px var(--5-bg);
        transform: scale(1);
    }
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        box-shadow: 0 0 10px var(--lime), 0 0 20px var(--lime), 0 0 30px var(--lime);
        transform: rotate(0deg);
        opacity: 0.5;
    }
    50% {
        box-shadow: 0 0 20px var(--6-bg), 0 0 30px var(--6-bg), 0 0 40px var(--6-bg);
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 10px var(--5-bg), 0 0 20px var(--5-bg), 0 0 30px var(--5-bg);
        transform: rotate(360deg);
    }
}

.glow-on {
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    animation: glowing 5s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.ironman {
    background: url(/bp/EE/assets/ouths/ironman.jpg) no-repeat !important;
    background-position: 50% 59% !important;

    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.lebron2 {
    background: url(/bp/EE/assets/ouths/lebron2.gif) no-repeat !important;
    background-position: 50% 29% !important;
    background-size: 90% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.thanos {
    background: url(/bp/EE/assets/ouths/thanosgif.gif) no-repeat !important;
    background-position: 50% 29% !important;
    background-size: 90% !important;
    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}

.rp1 {
    background: url(/bp/EE/assets/ouths/rp1.gif) no-repeat !important;
    background-position: 20% 35% !important;

    border-radius: 0.3rem;
    font-family: var(--f-1);
    font-weight: 600;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

    .coolEffect {
        animation: coolEffect 2.5s linear infinite;
        
    }

    @keyframes coolEffect {
        0%, 100% {
            transform: perspective(75em) rotateX(18deg) rotateY(0deg);
            box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px, rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
            border-radius: 10px;
            border: 1px solid rgb(213, 220, 226);
        }
        50% {
            transform: perspective(75em) rotateX(-18deg) rotateY(10deg);
            box-shadow: rgba(22, 31, 39, 0.42) 0px 30px 61px -12px, rgba(19, 26, 32, 0.08) 0px 17px 37px -17px;
            border-radius: 20px;
            border: 1px solid rgb(184, 194, 204);
        }
    }

    .coolEffect2 {
        animation: coolEffect2 6s linear infinite;
    }

    @keyframes coolEffect2 {
        0% {
            transform: perspective(550px) rotateX(5deg) rotateY(0deg) skew(1deg, 1deg) scale(1);
            box-shadow: rgba(22, 31, 39, 0.5) 0px 50px 100px -10px, rgba(19, 26, 32, 0.3) 0px 25px 50px -15px;
            border: 2px solid rgba(133, 42, 218, 0.6);
        }
        25% {
            transform: perspective(500px) rotateX(-8deg) rotateY(6deg) skew(1deg, 1deg) scale(1.05);
            box-shadow: rgba(22, 31, 39, 0.5) 0px 30px 60px -10px, rgba(19, 26, 32, 0.2) 0px 20px 40px -15px;
            border: 2px solid rgba(29, 96, 163, 0.7);
        }
        50% {
            transform: perspective(550px) rotateX(8deg) rotateY(-6deg) skew(-1deg, 1deg) scale(1.1);
            box-shadow: rgba(22, 31, 39, 0.6) 0px 50px 100px -20px, rgba(19, 26, 32, 0.3) 0px 25px 50px -15px;
            border: 2px solid rgba(133, 42, 218, 0.8);
        }
        75% {
            transform: perspective(500px) rotateX(-5deg) rotateY(3deg) skew(1deg, -1deg) scale(1.05);
            box-shadow: rgba(22, 31, 39, 0.5) 0px 30px 60px -10px, rgba(19, 26, 32, 0.25) 0px 20px 40px -10px;
            border: 2px solid rgba(29, 96, 163, 0.6);
        }
        100% {
            transform: perspective(550px) rotateX(5deg) rotateY(0deg) skew(1deg, 1deg) scale(1);
            box-shadow: rgba(22, 31, 39, 0.5) 0px 50px 100px -10px, rgba(19, 26, 32, 0.3) 0px 25px 50px -15px;
            border: 2px solid rgba(133, 42, 218, 0.6);
        }
    }
    
    @keyframes rainbowText {
        0% { color: #7b2f8a !important; } /* Red */
        14% { color: #3ea7c7 !important; } /* Orange */
        28% { color: #0077ff !important; } /* Yellow */
        42% { color: #463dbe !important; } /* Green */
        57% { color: #0000ff !important; } /* Blue */
        71% { color: #4b0082 !important; } /* Indigo */
        85% { color: #8b00ff !important; } /* Violet */
        100% { color: #32ad93 !important; } /* Red */
    }

    .rainbow {
        animation: rainbowText 5s linear infinite;
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.3); }
        100% { transform: scale(1); }
    }

    .pulse {
        animation: pulse 2s infinite;
    }

    @keyframes slideIn {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0); }
    }

    .hellokitty {
        background: url(/bp/EE/assets/ouths/hellokitty.gif) no-repeat !important;
        background-position: 50% 59% !important;
        background-size: 80%;
        border-radius: 0.3rem;
        font-family: var(--f-1);
        font-weight: 600;
        color: rebeccapurple !important;
    }
    
    .nfs {
        background: url('http://static.wikia.nocookie.net/nfs/images/d/db/NFSUB_Header_Pursuit.gif') no-repeat !important;
        background-position: 50% 59% !important;
        background-size: 80%;
        border-radius: 0.3rem;
        font-family: var(--f-1);
        font-weight: 600;
        color: rebeccapurple !important;
    }

    .hellokitty.leader-name {
        color: rebeccapurple !important;
    }

    .slide-in {
        animation: slideIn 1s ease-out;
    }

    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .rotate {
        animation: rotate 3s linear infinite;
    }


    .weup {
        background-color: var(--lime) !important;
    }

    .wedown {
        background-color: var(--red) !important;
    }

    .jermeylin {
        background: url(/bp/EE/assets/ouths/jermylin.gif) no-repeat !important;
        background-position: 50% 29% !important;
        background-size: 80%;
        border-radius: 0.3rem;
        font-family: var(--f-1);
        font-weight: 600;
        color: rebeccapurple !important;
    }

    .hack {
        background: url(/bp/EE/assets/ouths/hack.gif) no-repeat !important;
        background-position: 50% 29% !important;
        background-size: 60%;
        border-radius: 0.3rem;
        font-family: var(--f-1);
        font-weight: 600;
        color: rebeccapurple !important;
    }

    .notice {
        padding: 1rem;
        background: linear-gradient(45deg, var(--3-bg), var(--6-bg));
        color: white;
        font-family: var(--f-1);
        font-size: 1.1rem;
        border-radius: 0.9rem;
        align-items: center;
        display: flex;
        gap: 0.5rem;
    }

    .notice img {
        width: 2rem;
        height: 2rem;
        border-radius: 100px;
    }

    .frozen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/bp/EE/assets/ouths/freeze.jpg);
        opacity: 0.3;
        background-blend-mode: overlay;
        background-size: contain;
        border-radius: 0.5rem;
    }

    .lds-dual-ring {
        /* change color here */
        color: #7cb5c7
      }
      .lds-dual-ring,
      .lds-dual-ring:after {
        box-sizing: border-box;
      }
      .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }

      .loading-cont  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        animation: fadeOutI 1s forwards ;
        animation-delay: 2s;
      }

      .loading-sec {
        position: relative;
        width: 100vw;
        height: 100vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .loading-sec img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: blur(10px);
        mix-blend-mode: multiply;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        scale: 1.3;
        
        animation: slowPanLeft 5s infinite linear;
      }

      .load-text {
        color: white;
        font-family: var(--f-1);
        font-size: 1rem;
        position: relative;
        z-index: 2;

                
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slowPanRight 5s infinite linear;
      }

      @keyframes fadeOutI {
        0% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            display: none !important;
            pointer-events: none !important;
        }
    }

      @keyframes slowPanRight {
        0% {
          transform: translateX(-10%);
        }
        100% {
          transform: translateX(10%);
        }
      }

      @keyframes slowPanLeft {
        0% {
        transform: translate(-40%, -50%);
        }
        100% {
        transform: translate(-60%, -50%);
        }
      }

      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    
