body {
    background-color: rgb(7, 31, 92);
    overflow-x: hidden;
}

a {
    color: inherit;
}

button:active {
    background-color: gray;
    color: white;
}

button {
    cursor: pointer !important;
}

input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    background-color:rgb(44, 44, 128);
    color: white;
    font-family: inter;
}

.disabled {
    background-color: gray !important;
    color: white !important;
    cursor: not-allowed;
    opacity: 0.5;
}

.linker, a {
    color: var(--lime);
    font-size: inherit;
    text-decoration: underline;
}

.message {
    background-color: rgba(173, 216, 230, 0.938);
    color: rgb(59, 59, 59);
    position: fixed;
    padding: 0.5rem;
    top: 0;
    width: calc(100%);
    z-index: 999;
    animation: close 3s ease forwards;
    animation-delay: 3s;
    display: none;
}

@keyframes close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.error {
    background-color: rgba(255, 0, 0, 0.76);
    color: white;
}

.box {
    background-color: var(--lime);
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: relative;
    background-color: gray;
    overflow: hidden;
    border-radius: 1.3rem;
    margin: 0.5rem 0rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: inter;
    font-weight: 600;
    color: white;
}

.ac-ou {
    background: rgb(50,189,205);
background: linear-gradient(86deg, rgb(46, 226, 85) 0%, rgb(255, 94, 0) 100%);
}

.light-text {
    font-weight: 400;
}

.sepa {
    width: 100%;
    height: 3px;
    background-color: rgba(128, 128, 128, 0.459);
    margin: 0.5rem 0rem;
}

.sepa-v {
    height: 100%;
    width: 3px;
    background-color: rgba(128, 128, 128, 0.459);
    margin: 0.5rem 0rem;
}

:root {
    font-size: 17px;
    --gray-border:  rgb(81, 81, 81);
    --main-bg:  rgb(105, 121, 161);
    --secondary-bg: rgb(17, 17, 59);
    --3-bg: rgb(44, 44, 141);
    --lime:  rgb(44, 214, 121);
    --red: rgb(214, 44, 44); 
    --f-1: inter;
}

.weup {
    background-color: var(--lime);
}

.wedown {
    background-color: var(--red);
}

.op-5 {
    opacity: 0.5;
}

.fn-1 {
    font-size: 0.1rem !important;
}

.fn-2 {
    font-size: 0.2rem !important;
}

.fn-3 {
    font-size: 0.3rem !important;
}

.fn-5 {
    font-size: 0.5rem !important;
}

.fn-6 {
    font-size: 0.6rem !important;
}

.fn-7 {
    font-size: 0.7rem !important;
}

.fn-8 {
    font-size: 0.8rem !important;
}

.rank-1 {
    color: gray !important;
}


.smi {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.activeSince {
    display: flex;
    flex-direction: column;
}

.activeSince span {
    font-size: 0.7rem;
    opacity: 0.5;
}

.userForm {
    display: flex;
    flex-direction: column;
    font-family: inter;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.userForm-i {
    display: flex;
    align-items: stretch;
}

.add-info {
    background-color: rgba(255, 0, 0, 0.479) !important;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.stats-main {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem !important;
}

.stats {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.stat span {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    color:rgb(44, 123, 214);
}

.sec {
    font-family: roboto !important;
    padding-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.sub {
    font-size: 0.5rem;
    font-family: roboto;
    opacity: 0.4;
}

.nav {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box  ;
}

.sports {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: roboto;
    width: 100%;
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.sports span {
    cursor: pointer;
    background-color: var(--3-bg);
    padding: 0.2rem;
    border-radius: 0.3rem;
    flex-grow: 1;
}

.selected {
    background-color: var(--lime) !important;
    color: white;
}

.bal {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: roboto;
}

.multi-tag {
    background-color:var(--secondary-bg);
    width: 100%;
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    font-weight: 600;
    margin: 0.6rem 0rem;
    padding: .6rem .3rem;  
    display: flex;
    border: solid 1px var(--lime);
    box-sizing: border-box;
    font-family: roboto;
    gap: 0.5rem;
    align-items: center;
}

.multi-title {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--lime);
    border-radius: 0.2rem;
    font-family: roboto;
    padding: 0.2rem;
}

.multi-title-xl {
    font-size: 2rem;
}

/* .card {
    border: solid lime 1px;
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: rgb(26, 26, 74);
    color: white;
    font-family: inter;
    margin: 1rem 0rem;
} */

.card {
    border: solid rgb(81, 81, 81) 3px;
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: var(--secondary-bg);
    color: white;
    font-family: inter;
    margin: 1rem 0rem;
}

.mess-sec{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.confirm-con {
    position: fixed;
    bottom: 5rem;
    padding: 1rem;
}

.confirm{
    background-color: var(--3-bg);
    color: white;
    font-family: var(--f-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.mess-detail {
    display: flex;
    flex-direction: column;
    font-family: inter;
}

.mess-detail-title{
    font-size: 0.6rem;
    color: rgb(187, 187, 187);
    margin-bottom: 0.5rem;
    background-color: rgb(43, 38, 94);
    padding: 3px;
    border-radius: 4px;
}

.mess-detail-text {
    font-size: 0.9rem;
}

.no-ya {
    background-color: rgba(35, 180, 43, 0.591);
}

.mess {
    background-color: var(--secondary-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.modes {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
    font-family: var(--f-1);
    width: 100%;
}

.mode {
    color: rgb(199, 199, 199);
    background-color: var(--secondary-bg);
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    border: solid rgb(81, 81, 81) 3px;
    border-radius: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.mode.on {
    border: solid rgb(192, 64, 0) 3px;
}

.light {
    background-color: rgb(110, 110, 110);
    width: 10px;
    height: 10px;
    border-radius: 100px;

}

.mode.on .light {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 57px 12px rgba(235,0,0,1);
-moz-box-shadow: 0px 0px 57px 12px rgba(235,0,0,1);
box-shadow: 0px 0px 57px 12px rgba(235,0,0,1);
}

.bet {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inter;
    position: relative;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    overflow: hidden;
}

.ended , .ongoing {
    background-color: rgba(44, 44, 44, 0.809);
    opacity: 0.8;
    pointer-events: none;
}

.multi {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-weight: 500;
}

.multi.r:nth-child(2) {
    left: 1.5rem;
    color: var(--lime);
}

.bet-info-i {
    background-color: rgb(0, 106, 255);
    padding: 0.4rem;
    border-radius: 0.3rem;
    text-transform: capitalize;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.img-sec  img{
    width: 10rem;
}

  .money {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: inter;
    font-style: italic;
    color: var(--lime);
  }

  .negative {
    color: rgb(214, 44, 44) !important;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-img {
    width: 7rem;
    margin-top: 2rem;
}


.name {
    margin: 1rem 0rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.bold {
    font-weight: 600;
    text-decoration: underline;
}

.for {
    background-color: gray;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.for span:first-child {
    color: rgb(44, 214, 121);
    font-weight: 600;
}

.for span:last-child {
    color: rgba(255, 255, 255, 0.824);
    font-weight: 300;
}

/* .button-sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
} */
 
.button-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.2rem;
}

.button-sec button {
    width: 100%;
    font-size: 1.5rem !important;
}

/* .btn, button {
    padding: 0.2rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.3rem;
} */

.btn, button {
    padding: 0.3rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    font-style: italic;
}

.over {
    background-color: rgb(44, 214, 121);
    color: white;
}

.under {
    background-color: rgb(214, 44, 44);
    color: white;
}



  .disabled {
    background-color: rgba(186, 97, 186, 0.507);
  }


  /* .collapse {
    animation: collapse .6s ease forwards;
    pointer-events: none;
} */

.collapse {
    animation: full .6s ease forwards;
    pointer-events: none;
}

.spice {
    color: var(--lime);
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
}

.parlayAdd {
    border: solid 5px var(--lime) !important;
    box-sizing: border-box;
}

.waiting {
    animation: awaiting 2s infinite;
}

@keyframes awaiting {
    0% {
       border: solid 5px var(--lime) !important;
    }

    50% {
        border: solid 5px var(--gray-border) !important;
    }

    100% {
        border: solid 5px var(--lime) !important;
    }
}

.team-stats {
    position: absolute;
    top: 30%;
    left: 1.5rem;
    background-color: var(--3-bg);
    padding: 0.5rem;
    border-radius: 10px;
}



.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--3-bg);

    display: flex;
    justify-content: space-around;
    font-family: inter;
    color: white;
    padding: 0.3rem;
}

.bn-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}

.bn-item.sel {
    border-bottom: solid 3px var(--lime);
}

.icon {
    width: 1.6rem;
}

.icon-x {
    width: 2.3rem;
}

.settings-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;
    animation: open .2s ease forwards;
    color: white;
    font-family: inter;
    gap: 0.5rem;
}

.dne {
    display: none ;
}

.dbe {
    display: block !important;
}

.settings {
    display: flex;
    flex-direction: column;
}

.setting {
    background-color: var(--secondary-bg);
    padding: 0.5rem;
}

.team-stats-display {
    background-color: rgba(36, 39, 147, 0.348);
    position: fixed;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: inter;
}

.team-stats-display .card {
    width: 80%;
    display: flex;
    flex-direction: column;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes collapse {

    100% {
        height: 0;
        opacity: 0;
        font-size: 0px ;
        padding: 0px;

    }
}

@keyframes full {

    100% {
        width: 0;
        opacity: 0;
        font-size: 0px ;
        padding: 0px;

    }
}

@media all and (width > 1280px) { 
    .bet {
        width: calc(33% - 2rem);
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }

    :root {
        font-size: 27px;
    }

}

@media all and (min-width: 1124px) and (max-width: 1280px) { 
    .bet {
        width: calc(33% - 2rem);
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }

    :root {
        font-size: 20px;
    }
}

@media all and (min-width: 768px) and (max-width: 1124px) { 
    .bet {
        width: calc(50% - 2rem);
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }

 }

@media all and (min-width: 480px) and (max-width: 768px) { 
    .bet {
        width: calc(50% - 2rem);
    }

    .sec {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
    }
 }

@media all and (max-width: 480px) { 

    .bet {
        width: calc(100% - 2rem);
    }
 }

 .beta-eddition {
    background-color: var(--3-bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    animation: fadeOut 3s ease forwards;
    animation-delay: 0.6s;
    pointer-events: none;
 }

 .beta-eddition div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-family: var(--f-1);
    font-size: 1.4rem;
 }

 .beta-eddition img {
    width: 80%; 
    margin: auto 0;
}

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            display: none;
        }
    }

.R {
    position: relative;
}
.overlay-message {
    background-color: rgba(54, 98, 33, 0.647);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--f-1); 
    border-radius: 0.4rem;   
}

.ts-div {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 16, 102, 0.918);
    z-index: 999;
}

.ts {
    font-weight: 600;
    color: white;
    font-family: var(--f-1);
    background-color: var(--3-bg);
    padding: 1.5rem;
    border-radius: 0.8rem;
    display: flex;
    gap: 0.5rem;
    font-weight: 400;
}

.ts-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.ts-overall {
    font-size: 1.5rem;
    font-weight: 600;
}