.card-sec {
    display: flex;
    gap: 0.6rem;
}

.card-info img {
    width: 100%;
    border-radius: 10px;
}

.card-info {
    max-width: 13rem;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.card-info ul li {
    padding-left: 0.4rem;
}

.card-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
}

