body {
  font-family: "Inter", sans-serif;
  background-color: rgb(223, 223, 223);
}

.nav {
  height: 6rem;
  background-color: rgb(0, 110, 255);
  color: white;
  display: flex;
  align-items: flex-end;
}

a {
  color: inherit;
}

.nav ul {
  display: flex;
  gap: 0.4rem;
  padding-left: 10vw;
}

.nav ul li {
  padding-bottom: 0.2rem;
  cursor: pointer;
  padding: 10px;
}


.sel {
  background-color: white;
  color: blue;
}

.cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  justify-content: center;
}

.main {
  flex: 40%;
}

.side {
  flex: 30%;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 26px;
  --border: solid 1px rgb(194, 194, 194);
}

#accounts {
  margin-bottom: 20px;
}

.account {
  border: var(--border);
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
}

/* .account ul {
  overflow-y: scroll;
  max-height: 10rem;
  scroll
} */

h4 {
  padding-left: 20px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 0.7rem;
}

#actions {
  margin-top: 20px;
}

#actions-c {
  margin-top: 1rem;
  display: flex;
  width: 100%;
}

label {
  display: block;
  margin-top: 10px;
  color: rgb(60, 60, 60);
  font-weight: 400;
  font-size: 0.8rem;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.top {
  border-bottom: var(--border);
  padding: 0.5rem;
  font-weight: 600;
  color: rgb(0, 13, 250);
  text-transform: uppercase;
}

.bal {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  gap: 5px;
}

.bal span:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}

.bal span:nth-child(2) {
  font-size: .7rem;
  font-weight: 500;
}

.account ul {
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.scroller {
  max-height: 13rem;
  overflow-y: scroll;
}

.account ul li{
  font-size: 0.7rem;
  font-family: monospace;
  border-bottom: var(--border);
  padding: 10px 5px;
}

.account ul li:last-child{
  font-size: 0.7rem;
  font-family: monospace;
  border-bottom: none;
}

input {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: monospace;
}

.sec {
  border: var(--border);
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
  padding: 0.5rem;
  gap: 8px;
}

.item {
  font-style: italic;
}

button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(45, 119, 255);
  border-style: none;
}

button:active {
  color: black;
  background-color: gray;
}

select {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  outline: blue;
  border: var(--border);
  border-radius: 6px;
  background-color:  rgb(249, 249, 249);
}

ul {
  list-style: none;
}

.stock-sec {
  background-color: white;
  border: var(--border);
  border-radius: 20px;
  padding: 1rem;
  flex-grow: 1;
}

.stock-name {
  font-size: 2rem;
  font-weight: 600;

}

.shares {
  font-size: 0.7rem;
  color: rgb(75, 75, 75);
}

.title {
  display: flex;
  align-items: center;
}

.percent {
  background-color: rgba(159, 159, 159, 0.42);
  margin: 0.6rem;
  padding: 0.4rem;
  border-radius: 8px;
}

.current-price {
  font-size: 1.1rem;
  font-weight: 600;
}

.green {
  background-color: rgba(52, 255, 52, 0.237);
}

.red {
  background-color: rgba(255, 69, 52, 0.237);
}

.buysell {
  border: var(--border);
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
  padding: 0.5rem;
  gap: 8px;
  flex-grow: 1;
}

#stockList {
  display: flex;
  overflow-y: scroll;
  gap: 0.4rem;
}

/* 
#stockList .stock-name {
  font-size: 0.8rem;
}

#stockList .percent {
  font-size: 0.5rem;
  margin: 0.2rem;
}


#stockList .current-price {
  font-size: 0.6rem;
}

#stocklist .stock:root {
  font-size: 23px;
} */

.bs-cont {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#investForm, #sellForm {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.bui-sec {
  display: flex;
  gap: 20px;
}

.bui {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 1.3rem;
  background-color: rgb(229, 229, 229);
  border-radius: 12px;
  min-width: 10rem;
}

#buyShop {
  cursor: pointer;
}

.bui span:first-child{
  font-weight: 600;
}

#shops {
  flex-direction: row !important;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.shop span:first-child{
  font-weight: 600;
  font-size: 1.4rem;
}

.stat {
  color: green;
}

.stat-er {
  color: rgb(163, 0, 0);
}

.stat-bg {
  background-color: green;
}

.stand_er-disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  background-color: rgb(131, 131, 131) !important;
  color: rgba(255, 255, 255, 0.617) !important;
}

.sub {
  font-size: 0.8rem;
  color: rgb(57, 57, 57);
}

.shop {
  width: 14rem;
  align-items: flex-start;
  gap: 0.1rem;
}

.phone {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 10rem;
}

.iphone {
  width: 100%;
  position: relative;
}

.phone-screen {
  background-color: red;
  position: absolute;
  top: 0;
  left: 50%;
  width: 85%;
  height: 15rem;
  transform: translate(-49%, 20%);
  overflow: hidden;
}

.conter {
  position: relative;
  background-image: url(/images/iphone-wall.jpg);
  height: 100%;
  width: 100%;
}

.bl {
  font-weight: 600;
}

