body {
    background: #ccc;

}

:root {
    --main: #1a3151;
    font-size: 18px;
}

nav div {
    background-color: var(--main);
    padding: 5px  10px 5px 10px;

}

nav img {
    width: 80px;
}

.info {
    display: flex;
    font-family: roboto;
    padding: 8px;
    gap: 8px;
}

section {
    margin: 10px;
    background-color: white;
    border: .0625rem solid var(--tm-grey, #ddd);
}
.banner {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.tr {
    margin: 0px -10px;
}

.val {
    background-color: #4d8ade;
    color: white;
    padding: 5px;
    text-align: right;
}

.banner-head {
    background-color: var(--main);
    color: white;
    font-family: roboto;
    font-weight: 700;
}

.banner-spe {
    background-image: linear-gradient(to bottom, var(--tm-white, #fff) 0%, var(--tm-grey, #ddd) 60%);
    font-family: raleway;
    font-size: 1.6rem;
}

#lastName, #playerNum {
    font-weight: 700;
}

.playerImg {
    width: 100%;
}

.Imgdiv {
    width: 130px;
    position: relative;
}

.mjs {
    position: absolute;
    bottom: 8px;
    right: 0;
    padding: 0px 5px;
    font-size: 0.6rem;
    color: white;
    background-color: rgba(67, 67, 67, 0.432);
}

.team {
    display: flex;
    gap: 8px;
}

.bold {
    font-weight: 700;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 400;
}

.league {
    font-size: 0.7rem;
}

.hig-b {
    color: #0e4ea7;
    font-weight: 700;
    margin-bottom: 10px;
}

.hig {
    color: #0e4ea7;
}

.stat {
    margin-bottom: 6px;
}
