.climate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  top: 0;
  left: 0;
  transform: translateX(50%);
  position: absolute;
}

.air {
  background-color: rgb(54, 54, 249);
  opacity: 0.3;
  height: 190px;
  filter: blur(10px);
  width: 150px;
}

.car-top{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car-top img {
  width: 100%;
  transform: scale(2.1) rotate(-90deg);
}

.clim-fn {
  transform: translate(66%, -450%);
}

.appleIco-style2 {
  width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(113, 113, 113, 0);
    transform: rotate(90deg);
    position: absolute;
}

#recycle {
  transform: translate(140%, 150%) rotate(90deg);
}

.heat {
  padding: 8px;
  position: fixed;
}

.red {
  color: rgb(216, 13, 13) !important;
}

#h-1 {
  transform: translate(-120%, -150px);
}

#h-2 {
  transform: translate(70%, -150px);
}

#h-3 {
  transform: translate(-120%, -50px);
}

#h-4 {
  transform: translate(70%, -50px);
}

.change {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.status {
  flex-grow: 1;
  color: white;
  font-weight: 600;
  font-family: roboto;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.arr {
  background-color: transparent;
  color: rgb(191, 191, 191);
}

.load-up-ani {
  animation: load-blur 1.2s ease forwards;
}

.rise-ani {
  animation: rise 1.2s ease forwards;
}

@keyframes load-blur {
  0% {
    filter: blur(3.1px);
    opacity: 0;
  }
  100% {
    filter: blur(0px); 
  }
}
