body { 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
  }
  
  p, a {
    font-family: 'roboto', arial;
    color: rgb(155, 155, 155);
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
  
  }
  
  .cur:hover {
    cursor: pointer;
  }
  
  .special-m1 {
    color: rgb(189, 189, 189);
  }
  
  .special-m1:hover {
    color: var(--tlkk);
  }
  
  .fr {
    float: right;
  }
  
  .hb {
    border: solid red;
  }

  .u {
    text-decoration: underline !important;
  }

  .vb {
    border: solid blue;
  }
  
  .i {
    display: inline-block !important;
  }

  .dn {
    display: none !important;
  }

  .th {
    font-family: tahoma;
  }
  
  .tx-ss {
    font-family: 12px;
  }
  
  .tx-s {
    font-size: 17px;
  }

  .cs-b {
    border: solid rgb(141, 140, 140) 1px;
    border-radius: 5px;
  }

  .cs-b2 {
    border: solid rgb(141, 140, 140) 2px;
    border-radius: 5px;
  }

  .fl-c {
    display: flex;
    flex-direction: column;
  }

  .fl-r {
    display: flex;
    flex-direction: row;
  }
  
  .link-b {
    font-family: 'roboto', arial;
    color: rgb(189, 189, 189);
    text-decoration: none;
  }
  
  .link-b:hover {
    color: var(--tlkk);
  }
  
  strong { 
    font-weight: 600;
    color: rgb(10, 94, 90);
    border-radius: 9px;
  }
  
  button {
    border: solid;
    border-width: 1.1px;
    color: white;
  
  }
  
  div {
    font-family: roboto;
  }
  
  .img-1{
    width: 40px;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .imgmed {
    width: 200px;
    display: inline-block;
  }
  
  .pfp {
    width: 20px;
    border-radius: 10px;
  }
  
  :root {
    --ug:rgb(40, 40, 46);
    --tlkk: rgb(0, 124, 120);
    --ug2:  #1d1d1d;
    --bkc:  hsl(213, 45%, 8%);
    --idle: rgb(246, 160, 0);  
  }

  .nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 76, 189);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
  }

  .nav-top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bottom {
    margin-top: 30px;
    display: flex;
  }

  .nav-buttons-selected {
    border-bottom: solid;
    font-size: 20px;
    font-weight: 700;
    color: white;
  }

  .nav-buttons {
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
    color: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1000px;
  }

  .account-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: white;
  }

  .ai-head {
    display: flex;
    flex-grow: 1;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: solid #918f8f 1px;
  }

  .name {
    margin-left: 5px;
    font-weight: 700;
  }

  .ai-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .ai-tran {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ai-name {
    color: blue;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .money {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;

  }

  .ai-tran-bal {
    text-decoration:dashed
  }

  .ai-m-head {
    font-size: 20px;
    text-decoration: underline;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid rgb(177, 177, 177) 5px;
  }

  .ai-table {
    display: flex;
    flex-direction: column;
  }

  .ai-t-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray 1px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .ai-t-s-des {
    width: 300px;
  }

  .ai-t-s-des-tran {
    float: right;
    font-size: 20px;
    color: red;
  }