@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Doto:wght@100..900&family=Fredoka:wght@300..700&family=Merriweather+Sans:ital,wght@0,643;1,643&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Oswald:wght@200..700&family=Pacifico&family=Pirata+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dimond {
    background-color: #f0f8ff; /* AliceBlue */
    border: 2px solid #b0c4de; /* LightSteelBlue */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
}


body {
    font-family: "Roboto Mono", monospace, Helvetica, sans-serif !important;
    letter-spacing: -0.07em;
}

.reg_user {
    color: coral;
}

.reg_error {
    color: rgb(255, 101, 101);
}

.link {
    color: rgb(105, 139, 248);
}

.u {
    text-decoration: underline;
    cursor: pointer;
}

.dot {
    background-color: rgb(101, 181, 255);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}