:root {
    font-size: 13px;

    /* standard colors */
    --border-1: #08080838;
    --subtle-bkg: rgb(241, 243, 248);
    /* end */

     
    --border-2: #ffffff1a;
    --border-3:  1px solid #00a6cf;
    --border-4:  2px solid #003bbb; 
    --border-uline: #005acf;
    --border-subtle-dark: #6fa2e4cc;
    --border-subtle-dark-2: #738ad4cc;
    --border-subtle: #00295f25;
    --border-subtle-2: #001e460d;

    --mc-1: #3646a3;
    --mc-2: #0000ff;
    --mc-3: #00aeff; 
    --mc-4: #5a14db;
    --wh-1: #f7f7f7;
    --gray-1: #e6e6e6;
    --gray-2: #d3d3d3;
    --dark-1:  #00154ebd;
    --grad-nav: linear-gradient(to right, rgb(70, 15, 223), rgb(0, 122, 153));
    --grad-stats: linear-gradient(to right, rgb(0, 60, 255), rgb(32, 29, 168));
    --grad-1: linear-gradient(to bottom right, #322a3f, #3b9780);
    --grad-2: linear-gradient(to right, rgb(133, 98, 221), rgb(26, 28, 148));
    --border-gradient-rbw: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    --gradient-top: linear-gradient(to right, rgb(19, 50, 97), rgb(22, 142, 172)) 
}