.business-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px;
}

.business {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 235, 246);
    margin: 10px;
    border: dashed 3px rgb(120, 136, 228);
}

.business img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.details {
    display: flex;
}

.details-1 {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'inter', sans-serif;
    margin-bottom: 30px;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-text span:nth-child(1) {
    font-size: 1rem;
    color: rgb(0, 0, 0);
}


.title-text span:nth-child(2) {
    font-size: 0.7rem;
    color: gray;
}

.load-div {
    background-color: rgba(128, 128, 128, 0.279);
}

.loader {
    background-color: rgb(183, 182, 182);
    width: 10%;
    height: 10px;
}

.upgrades-div-title {
    background-color: rgb(27, 97, 183);
    color: rgb(221, 221, 221);
    padding: 0.2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
}

.upgrade {
    border: solid 3px rgba(27, 97, 183, 0.54);
    margin: 5px;
    padding: 0.1rem;
    display: flex;
}

.upgrade div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.upgrade button {
    margin: 3px;
}