body {
    background-image: url(/images/myou-tile.png) !important;
    background-repeat: repeat !important;
    background-size: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

    :root {
        font-size: 40px;
    }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 27, 63, 0.856);
    padding: 50px;
    border-radius: 10px;
    gap: 10px;
    font-size: 3rem;
}

.img-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


input {
    font-size: 1.2rem;
    outline: none;
    padding: 1 mnmn0px !important;
}