

.nav-bar {
    padding: 2rem 1rem 1.3rem 1rem;
    background-color: aliceblue;
    font-weight: 600;
    font-size: 1.2rem;
}

.top-nav-bar {
    border-bottom: 2px dashed #000000;
    border-image: repeating-linear-gradient(90deg, #000000 0, #000000 20px, transparent 20px, transparent 25px) 1;
    border-image-slice: 1;
}

.rep-border {
    border-top: 2px dashed #000000;
    border-image: repeating-linear-gradient(90deg, #000000 0, #000000 20px, transparent 20px, transparent 25px) 1;
    border-image-slice: 1;
}

.rep-border-bottom {
    border-bottom: 2px dashed #000000;
    border-image: repeating-linear-gradient(90deg, #000000 0, #000000 20px, transparent 20px, transparent 25px) 1;
    border-image-slice: 1;
}

.bottom-nav-bar .logo {
    width: 200px;
}

.bottom-nav-bar {
    border-top: 2px dashed #000000;
    border-image: repeating-linear-gradient(90deg, #000000 0, #000000 20px, transparent 20px, transparent 25px) 1;
    border-image-slice: 1;
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qestion-container {
    margin: 2rem auto;
    width: 90%;
    max-width: 750px;
}

.top {
    display: flex;
    align-items: flex-start;
    background-color: aliceblue;
    margin-bottom: 1rem;
}

.top span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: .3rem .6rem;
    color: white;
    font-size: 1.3rem;
}


.middle {
    color: rgb(56, 56, 56);
}

.qestions {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    margin-top: 1rem;

}


.qestion {
    padding: 0.8rem 1rem;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    border: solid 2px rgb(224, 224, 224);

    display: flex;
    align-items: center;
    font-size: 1rem;
}

.qestion:hover {
    background-color: rgb(224, 224, 224);
}

.qestion .letter {
    font-weight: 600;
    margin-right: 0.8rem;

    background-color: rgb(99, 136, 206);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 2901px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}