@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Mono:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  font-size: 26px;
  --base-1: "Inconsolata", monospace;
  --base-2: "Merriweather", serif;
  --base-3: "Oswald", sans-serif;
  --base-4: "Noto Sans Mono", monospace;
  --base-5: "Poppins", sans-serif;
  --bg: rgb(230, 206, 174);
  --main-color: rgb(0, 0, 0) !important;
}

::selection {
  background-color: #d8b78d;
  color: black;
}

body {
  background-color: rgb(230, 206, 174);
  transition: all 0.324s ease;
}

nav {
  display: flex;
  position: fixed;
  top: 5px;
  z-index: 999;
  width: 100%;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
  font-size: 0.6rem;
  padding: 0.14rem;
  margin: 0.01rem;
}

nav ul li {
  font-family: var(--base-4), monospace;
}

nav ul li a {
  color: black;
  font-family: var(--base-4), monospace;
}
.load {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 600px;
}

.texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 10px;
}

.texts span {
  font-size: 8rem !important;
}

.texts-bottom {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(60, 60, 60);
  color: transparent;
}



.load-sec {
  display: flex;
  flex-direction: column;
}

#percent {
  font-size: 10rem;
  font-family: var(--base-3);
  align-self: flex-end;
}

#loader {
  background-color: black;
  width: 91%;
  position: absolute;
  height: 30px;
  bottom: 30px;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

.semi-circle {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 5rem;
  height: 2.5rem;
  background-color: #d8b78d;
  border-radius: 10rem 10rem 0 0;
  animation: sligh-rot 0.7s ease infinite;
}

.grid {
  position: fixed;
  width: 100%;
  display: grid;
  top: 0;
  left: 0;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 0px;
  height: 100%;
}

.grid-item button {
  background-color: transparent;
  color: rgb(255, 251, 35);
  font-size: 1rem;
  display: none;
  transition: all 0.332s ease-in-out;
}

.grid-item {
  border:  rgb(114, 114, 114) 1px;
  border-style: dashed;
  border-left: none;
  border-top: none;
  height: 7rem;
  transition: all 0.332s ease-out;
  opacity: 0;
  transform: scale(0.96);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item:hover {
  background-color: #d8b78d;
}

.grid-item:hover button {
  background-color: black;
  display: block;
}

.tank {
  border: 2px dotted black;
}

#item-0 {
  border: 2px dotted black;
  background-color: #7FF7EF; 
   grid-row-start: 3;
   grid-column-start: 5;
   grid-row-end: 5;
   grid-column-end: 9;
}

#item-1 {
  border: 2px dotted black;
  background-color: #7EF998; 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 5;
}

#item-2 {
  border: 2px dotted black;
  background-color: #827ef9; 
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
}

.filler {
  min-width: 100%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  transition: .334s ease all;
}

.orgin {
  background-color: transparent !important;
  border-style: none !important;
}

.filler span{
  font-size: 4.5rem;
  min-width: 100%;
  word-wrap: break-word;
}

.message {
  word-wrap: break-word;
  transition: all 0.125s ease-in-out fowards;
  animation: fadeIn 0.6s ease-in forwards;
  animation: comeDown 0.6s ease-in forwards;
}

.hidden {
  animation: fadeOut 0.6s ease-in forwards !important;
}

#not {
  background-color: rgb(255, 37, 37);
  font-family: var(--base-3);
  position: sticky;
  z-index: 4;
  height: 990px;
}

.list {
 position: sticky;
 height: 990px;
}


#someFun {
  background-color: #d8b78d;
  transform: translateY(-50%);
  position: relative;
}

#someFun span {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 5rem;
  font-family: var(--base-4);
}

#animatedText span{
  font-size: 10rem;
  line-height: -8rem;
}

#words {
  background-color: var(--bg);
  z-index: 6;
}

.porj-word {
  width: 60%;
  font-size: 4rem;
  transition: all .325s;
  margin-top: 10%;
}

.porj-word span {
  transition: all .325s;
  position: relative;
  word-wrap: none;
  font-size: 4rem;
  display: block;
}

.porj-word span a {
  color: inherit;
  font-family: 'Times New Roman', Times, serif !important;
}


.porj-word span:hover {
  font-size: 4.2rem !important;
  cursor: pointer;
  filter: none;
}

.porj-word span:hover #followDiv {
  display: block !important;
}

.preview-imgs {
  width: 10rem;
  position: absolute;
  display: flex;
  bottom: -120%;
  right: -10%;
}

article:nth-child(even) {
  flex-direction: row-reverse;
}

.preview-imgs img {
  width: 100%;
}

.meta {
  position: absolute;
  font-size: 0.9rem;
  width: 3rem;
}

.not-in {
  font-size: 2rem;
}

.displayer {
  max-width: 50%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dis-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  position: fixed;
  width: 50%;
}

.displayer span {
  width: 70%
}

.displayer img {
  object-fit: cover;
  width: 70%
}

/*
.label:before {
  content: attr(data-label);
  background-color: #7EF998;
  position: absolute;
  top: -100%;
  left: 0;
}

.label:after {
  content: attr(data-label);
  background-color: #7EF998;
  position: absolute;
  bottom: -100%;
  left: 0;
}
*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  :root {
    font-size: 26px;
  }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 18px;
  }
  .grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    height: 100%;
  }
 }

@media all and (min-width: 480px) and (max-width: 768px) { 
  :root {
    font-size: 12px;
  }
}

@media all and (max-width: 480px) { }

footer a {
  color: #000;
  display: block;
}

footer {
  height: 900px;
  margin: 40px 0px 0px 0px;
  padding: 190px 0px 0px 0px;
  display: flex;
  align-items: flex-start;
  font-family: var(--base-5);
  gap: 2.5rem;
  border-top: 1px solid #000;
  box-sizing: border-box;
}

.fhead {
  font-size: 2rem;
  font-weight: 600;
}

.footerDiv:nth-child(2) {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 50px;
}

.footLen {
  width: 150px;
  font-size: 0.7rem;
}

#arrws {
  background-color: #d8b78d;
  font-size: 10rem;
  overflow: hidden;
}

.js-arrs {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  position: sticky;
  top: 0;
}

.item { 
  padding: 5px 10px;
  box-sizing: border-box;
  transition: all 0.625s ease-out;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
}

.hmu-0 {
  word-wrap: break-word;
  font-size: 100%;
  grid-row-start: 3;
   grid-column-start: 1;
   grid-row-end: 8;
   grid-column-end: 8;
}

#followDiv {
  z-index: 999;
transition: all 0.125s ease;
position: absolute;
width: 200px;
height: 200px;
background-color: rgba(255, 0, 0, 0.7);
pointer-events: none; /* Prevents the div from capturing mouse events */
  font-family: poppins !important;
}

#followDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  background-color: rgb(203, 205, 145);
  width: 100%;
  height: 100%;
  position: absolute;
  animation-delay: 0.6s;
  animation: fadeOut 0.6s ease-out forwards;
}
