body {
    background-color: rgb(234, 234, 234);
}
.simpay {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    justify-content: space-between;
}

.simpay#mtn {
    background-color: rgb(246, 246, 139);
}

.simpay#airtel {
    background-color: rgb(236, 67, 67);
}

.simpay .s-1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: roboto;
    font-size: 1.7rem;
    font-weight: 600;
}

.simpay img {
    width: 75px;
    height: 75px;
    border-radius: 0.3rem;
}

.dropdown {
    filter: invert(1);
}