@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Encode+Sans:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Madimi+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  margin-bottom: 20px;
}

:root {
  font-size: 16px;
  --font-serif:  "Noto Serif", serif;
}

.uh {
  text-decoration: underline;
}

.container {
    margin-top: 500px;
}

nav {
  display: flex;
  padding: 10px 70px 10px 70px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: ROBOTO;
  margin-bottom: 130px;
  position: absolute;
}

.nav-alt {
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 1s ease;
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(to bottom rgba(0, 0, 0, 1), rgba(201, 35, 35, 0.6));
    width: 100%;
    z-index: 999;
  }

.nav-sec1 {
  width: 120px;
}

.nav-sec2 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  width: 90px;
}

.nav-sec2 ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-weight: 600;
}

.nav-sec2 ul li:hover{
  text-decoration: underline 2px;
  cursor: pointer;
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.308);
  backdrop-filter: blur(8.6px);
}

.in {
    background-color: rgba(238, 238, 238, 0.356);
    width: 33%;
    padding: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    height: 400px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: roboto;
}

.captcta {
    width: 50px;
}

.sub {
    font-weight: 400;
    font-size: 0.8rem;
}

.gradient-div {
    width: 70%;
    height: 600px;
    display: flex;
  }

  .typed {
    margin-left: auto;
    margin-right: auto;
  }

  #js-typed {
    font-size: 2.9rem;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
  }

  .img-seq {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 34px;
  }

  .img-seq img {
    width: calc(33% - 20px);
    border-radius: 10px;
    object-fit: cover;
    animation: img 1s ease-in-out forwards;
    opacity: 0;
  }


form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .imnabt {
    background: rgba(40, 40, 40, 0.27);
    backdrop-filter: blur(10.5px);
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.2rem;
    box-sizing: border-box;
  }

  input[type="checkbox"] {
    display: inline;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px 15px 10px 25px;
    outline: #717171;
    border-radius: 50px;
    width: 100%;
    border-style: none;
    color: white;
    background: rgba(40, 40, 40, 0.27);
    backdrop-filter: blur(10.5px);
    border: 1px solid rgba(185, 185, 185, 0.3);
  }

  input[type="text"]::placeholder,
  input[type="password"]::placeholder  {
    color: white;
  }

  input[type="text"],
  input[type="password"],
  input[type="radio"],
  input[type="checkbox"],
  input[type="submit"],
  input[type="reset"],
  select,
  textarea {
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="submit"],
  input[type="reset"] {
    padding: 10px 15px 10px 25px;
    outline: #717171;
    border-radius: 50px;
    width: 100%;
    border-style: none;
    color: white;
    background: rgba(40, 40, 40, 0.27);
    backdrop-filter: blur(10.5px);
    border: 1px solid rgba(185, 185, 185, 0.3);
    border-style: none;
    padding: 7px 10px 7px 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .btn {
    padding: 10px 15px 10px 25px;
    outline: #717171;
    border-radius: 50px;
    width: 100%;
    border-style: none;
    color: white;
    background: rgba(40, 40, 40, 0.27);
    backdrop-filter: blur(10.5px);
    border: 1px solid rgba(185, 185, 185, 0.3);
    border-style: none;
    padding: 7px 10px 7px 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.151);
  }

  select {
    height: 38px; /* Match input height */
    text-align: center;
  }

  textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  

/* 
++site
*/

.cont-sec {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.screen {
    height: 100%;
}

#s1 {
    background-color: rgb(206, 206, 206);
    position: relative;
    z-index: -9;
    width: 35%;

}

#s2 {
    background-color: rgb(201, 174, 25);
    width: 65%;
}

.blob-sec {
    position: absolute;
    filter: blur(50px);
    z-index: -9;
    top: 50%;
    left: 50%;
    animation: spin 7s cubic-bezier(0.21, 0.06, 0.43, 0.96) forwards;
}

.blob {
    position: absolute;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%; /* Makes the divs circular */
    opacity: 0.8;
  }
  
  #one {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg) translateY(-75%);
    background-color: rgb(60, 175, 175);
  }
  
  #two {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(150deg) translateY(-75%);
    background-color: rgb(196, 12, 12);
  }
  
  #three {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg) translateY(-75%);
    background-color: rgb(0, 224, 112);
  }

  .grainy-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('images/grain-text-2.avif');
    opacity: 0.2; 
    object-fit: cover;
    z-index: -8;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg) scale(5);
    }
    100% {
      transform: rotate(1045deg);
    }
  }

  @keyframes img {
    0% {
      opacity: 0;
      transform: translateY(30%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* 
--site
*/

.scroll-div.active-c {
  opacity: 1;
}

.animated-element {
  opacity: 0; /* Initially hide the element */
  transition: opacity 1s ease; /* Smooth transition for opacity */
}

.animated-element.active {
  opacity: 1; /* Show the element when active class is applied */
}

footer {
  background-color: aliceblue;
  color: black;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  font-family: roboto;
  position: relative;
}

footer a {
  color: black;
}

.col {
  display: flex;
  flex-direction: column;
}

.f-head {
  border-bottom: solid 1px rgb(187, 187, 187);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

footer div div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cover {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  opacity: 1;
  animation: fadeUp 2.3s ease forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    display: none;
     /* Adjust this value based on how far you want it to move up */
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media only screen and (width > 1200px) {
  .ideas {
    width: 1200px;
  }

  :root {
    --devwidth: 1200px;
    font-size: 16px;

  }

}

@media only screen and (max-width : 992px) {
  :root {
    font-size: 13px;
  }

  .ideas {
    width: 890px;
  }

  :root {
    --devwidth: 890px;
  }

  .context {
    width: calc(50% - 20px);
  }

}

@media only screen and (max-width : 768px) {
  :root {
    font-size: 10px;
  }

  .ideas {
    width: 690px;
  }

  :root {
    --devwidth: 690;
  }

  .context {
    width: calc(50% - 20px);
  }

  
}

@media only screen and (max-width : 468px) {
  :root {
    font-size: 10px;
  }

  .ideas {
    width: 390px;
  }

  :root {
    --devwidth: 390px;
  }

  .nav-sec1 {
    display: none;
  }

  .nav-sec2 ul {
    display: none;
  }

  .ideas {
    flex-direction: column;
  }

  .context {
    width: 100%;
  }

  .context {
    width: calc(100% - 20px);
    justify-content: center;
    display: flex;
  }

  
}