/* Default styles */
.menu {
  display: none;
  position: absolute;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 5px;
}

.menu ul li a {
  color: #333;
  text-decoration: none;
}

/* Show menu on hover for devices with width >= 768px */
@media screen and (min-width: 768px) {
  .toggle-btn:hover + .menu,
  .menu:hover {
    display: block;
  }
}

/* Show menu when checkbox is checked for devices with width < 768px */
@media screen and (max-width: 767px) {
  .toggle-btn {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .toggle-btn:checked + .menu {
    display: block;
  }
}
