.header {
    font-family: oswald;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header span:nth-child(2) {
    font-size: 2.5rem;
    color: rgb(29, 153, 236);
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: .5rem;
}

.menu-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-8);

    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(241, 241, 241);
    border-radius: 0.7rem;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.menu-section#specials {
    background-color: rgb(29, 153, 236) !important;
    color: white;
}

.menu-section span {
    padding: 0.5rem 1rem;
    width: 30%;
}

.menu-section img {
    width: 30%;
    aspect-ratio: 10/7;
    object-fit: cover;
}


.section-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.section-item {
    display: flex;
    overflow: hidden;
    border-radius: 0.8rem;
    background-color: rgb(255, 255, 255);

    font-family: roboto;
    box-shadow: 0 0 1.2rem .1rem rgba(44, 49, 41, .15);

}

.section-item img {
    width: 30%;
    aspect-ratio: 10/7;
    object-fit: cover;
}


.section-item .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.8rem 1.4rem;
}

.section-item .title {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.price-cal {
    display: flex;
    gap: 0.5rem;
}

.price-cal span:first-child {
    color: rgb(59, 59, 59);
}

.price-cal span:last-child {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.section-item .btn-section {
    display: flex;
    gap: 0.5rem;

}