
@media all and (width > 1280px) { 
  

}

@media all and (min-width: 1124px) and (max-width: 1280px) { 
  
}


@media all and (min-width: 768px) and (max-width: 1124px) { 
  .work:nth-of-type(n+3) {
        display: none;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) { 
  .fl-c-to-r {
    display: flex;
    flex-direction: row !important;
  }

  .fl-r-to-c {
    display: flex;
    flex-direction: column !important;
  }

  .work:nth-of-type(n+2) {
        display: none;
    }

  .work-text .title {
    font-size: 1.1rem;
    width: 80vw;
  }

  .work-text .description {
    font-size: 0.85rem;
    max-width: 80vw;
  }

  .level img {
    max-width: 85vw;
    max-height: 50vh;
  }

  .info {
    max-width: 50vw;
  }

  .info .title {
    font-size: 1.5rem;
  }

  .next-project {
    bottom: 1rem;
    right: 1rem;
  }

  .next-project a {
    padding: 0.8rem 1rem;
  }
}

@media all and (max-width: 480px) { 

    /* Hide all .work elements after the second one */
    .work:nth-of-type(n+2) {
        display: none;
    }

    .d-cont-1 {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .info {
      max-width: 60vw;
      left: 1rem;
    }

    .info .title {
      font-size: 1.3rem;
    }

    .info .subtitle {
      font-size: 0.65rem;
    }

    .scrolla-cont {
      right: -10%;
    }

    .work-text .title {
      font-size: 1rem;
      width: 85vw;
    }

    .work-text .description {
      font-size: 0.8rem;
      max-width: 85vw;
      line-height: 1.5;
    }

    .level {
      padding: 2rem;
    }

    .level img {
      max-width: 90vw;
      max-height: 45vh;
    }

    .next-project {
      bottom: 0.8rem;
      right: 0.8rem;
      left: 0.8rem;
    }

    .next-project a {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 1rem;
      width: 100%;
    }

    .next-project .next-label {
      display: none;
    }

    .watch-org {
      font-size: 1rem;
    }
}
