body {
    background-color: var(--lowerg);
    color: white;
}


.svgitem {
    width: 20px;
}

:root {
    font-size: 18px;
    --font-rn: roboto;
    --lime:  rgb(91, 197, 132);
}



.block-item {
    padding: 3px;
    background-color: rgb(94, 94, 94);
}

.cont {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
}

.sec {
    padding: 10px 5px 10px 5px;
    margin: 10px 0px 10px 0px;
    background-color: var(--g);
    border: var(--border);
    display: flex;
    font-family: var(--font-rn);
}

#overflow-sec {
    max-height: 180px;
    overflow-y: scroll;
}

.option {
    border: var(--border); 
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 200;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px 0px 5px 0px;
    background-color: transparent;
    color: white;
}

.header-op {
    font-size: 0.3rem;
    font-weight: 600;
    width: 100%;
    background-color: var(--lowerg);
    transform: translateY(-30%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-op button{
    font-size: 3px;
    background-color: transparent;
    color: rgb(107, 107, 107);
}

.chan-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
}

.chan-btns button {
    width: calc(20% - 10px);
    font-size: 0.7rem;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(94, 94, 94);
    color: white;
    font-weight: 600;
}

.chan-btns button:active {
    background-color: rgba(67, 67, 161, 0.411);
}

.active-b {
    background-color: rgb(91, 197, 132) !important;
}

.bars {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.bar {
    background-color: black;
    height: 5px;
    width: calc(25% - 20px);
}

#bar1 {
    background-color: red;
}

#bar2 {
    background-color: yellow;
}

#bar3 {
    background-color: green;
}

#bar4 {
    background-color: green;
}

.apply {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.apply button {
    width: 33%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: var(--border);
    border-radius: 8px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-family: var(--font-rn);
    font-weight: 200;
}

.name span:first-child {
    font-size: 2rem;
}

.circle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.circle-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: var(--lime);
    font-size: 2.5rem;

}

.twp {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid rgb(175, 175, 175);
    transform: translateY(-2.5px) scale(0.8);
    z-index: -1;
    transition: all 0.125s;
}

.inactive {
    background-color: rgb(158, 158, 158);
}

.twps-ani {
    animation: twpsf 2s ease-out infinite;
}

@keyframes twpsf {
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.circle-btn span {
    font-size: 5rem;
}

.circle-btn:active {
    animation: boun 0.05s ;
}

.js-c-red {
    background-color: red;
    color: white;
}

.js-c-yellow {
    background-color: rgb(189, 186, 0) !important;
}

@keyframes boun {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.43);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes fade {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      display: none;
       /* Adjust this value based on how far you want it to move up */
    }
  }
  
  
  @media only screen and (width >= 1200px) {
    .img-sec {
      display: block;
    }
    .header-op span {
        font-size: 0.7rem;
    }
  }

  
  @media only screen and (max-width : 992px) {
    :root {
      font-size: 20px;
    }
  
    .img-l-sec figure, 
    .img-l-sec figure img
    {
      width: 300px;
      margin-bottom: 10px;
    }
    
    .img-l-sec {
      flex-direction: column;
    }
    .header-op span {
        font-size: 0.7rem;
    }
    
  }
  
  @media only screen and (max-width : 768px) {
    :root {
      font-size: 22px;
    }

    .header-op span {
        font-size: 0.7rem;
    }
  }