 /* Main container styles */
 body {
    background-color: var(--secondary-color);
    font-family: roboto;
    margin: 0;
    overflow: hidden;
}

#viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(100, 10px); /* 10px width per grid cell */
    grid-template-rows: repeat(100, 10px);  /* 10px height per grid cell */
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.1s forwards;
}

:root {
    font-size: 20px;
    --primary-color: #007bff;
    --secondary-color: #589b56;
    --bg: #8380a5;
}

.cancel {
    background-color: var(--secondary-color);
}

/* Styles for each grid cell */
.grid-cell {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-cell.hovering {
    border: solid 1px #000;
    transform: scale(1.3);
  }

.info {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    font-family: roboto;
    padding: 1rem;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    align-items: center;
}

.info span {
    font-weight: 300;
    font-size: .9rem;
}

.place-a-square {
    font-weight: 700 !important;
    font-size: 1.5rem !important;
}

.place {
    background-color: #6697ca;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: roboto;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    transform: translate(0, 100%);
    transition: all 0.3s ease-out;
}

.place.on {
    transform: translate(0, 0);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.color-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color {
    width: 40px;
    height: 40px;
    border: 1px solid #7c7c7c8f;
    border-radius: 5px;
    transition: all;
} 

.color.selected {
    border: 2px solid #007bff;
    scale: 1.2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.color:hover {
    scale: 1.3;
}

.loadboxes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap into rows */
    justify-content: center; /* Center align rows */
    align-items: center; /* Center align vertically */
    width: 100vw; /* Use full viewport width */
    height: 100vh; /* Use full viewport height */
    overflow: hidden; /* Prevent scrollbars */
    scale: 1.3;
    pointer-events: none;
}

.box {
    width: calc(100vw / 12); /* Dynamically calculate width for 12 boxes per row */
    height: calc(100vw / 12); /* Make the boxes square */
    box-sizing: border-box;
    background-color: #007bff;
}

.closed {
    animation: closed 0.4s forwards;
}

@keyframes closed {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media all and (width > 1280px) { 


}

@media all and (min-width: 1124px) and (max-width: 1280px) { 

  
}


@media all and (min-width: 768px) and (max-width: 1124px) { 
    :root {
        font-size: 18px;
      }

}

@media all and (min-width: 480px) and (max-width: 768px) { 
    :root {
        font-size: 16px;
      }
}

@media all and (max-width: 480px) { 
    :root {
        font-size: 16px;
      }
  
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 55px;
    aspect-ratio: 1;
    --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l7 1.5s infinite;
  }
