body {
  font-family: roboto;
}

a {
  text-decoration: underline !important;
  color: blue !important;
}

:root {
  --main-color: #b1040e;
}
.nav {
  background-color: var(--main-color);
  padding: 1.6rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.img-sec {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .text {
  font-size: 1.5rem;
}

.tab {
  font-size: 3rem !important;
  font-weight: 100;
  line-height: 0;
}

.logo {
  height: 35px;
}

.letter {
  margin: 2rem 1rem;
  border: solid 4px lightslategray;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.letter-seal {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  }

.letter-seal img {
  width: 90px;
  object-fit: contain;
}

.letter-seal .seal {
  width: 90px;
}

.letter-seal .seal-logo {
  width: 150px;
}

.l-text-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signiture {
  width: 200px;
  object-fit: contain;
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--main-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}