.caniplay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: all 0.8s ease;
}

.fallDown {
    animation: fallDown 0.8s ease forwards;
}

@keyframes fallDown {

    100% {
        transform: translate(-50%, -50%);
    }
}

.goUp {
    animation: goUp 0.8s ease forwards;
}

@keyframes goUp {

    100% {
        transform: translate(-50%, -150%);
    }
}



.caniplay .card {
    width: 80% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icon-hearts {
    width: 10rem;
}

.obj {
    background-color: antiquewhite;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}