body {
    background: rgb(255, 255, 255) !important;
    padding: 1rem 1rem !important;
}

h1 {
    color: black;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: rgb(24, 24, 24);
    padding: 1.4rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.card p:nth-child(2) {
    font-size: .8rem;
    font-weight: 400;
    opacity: 0.6;
}

.card-info-op {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.726);
    top: 0;
    left: 0;
}

.info-title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.card-info {
    position: fixed;
    color: white !important;
    width: 80%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: rgb(112, 112, 112) solid 1px;
}

.c-i-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}

.c-i-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}

.exp {
    opacity: 0.6;
}

.student-name{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 2rem;
}

.animation {
    display: grid;
    grid-template-columns: repeat(40, 0.3rem);
    grid-template-rows: repeat(40,  0.3rem);
    background: #000000;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 6px rgb(94, 94, 94);
  }
  
  .cell {
    background: rgb(63, 118, 219);
    opacity: 0;
  }
  
  @keyframes flicker {
    0% { opacity: 0.2; }
    15% { opacity: 1; }
    30% { opacity: 0.7; }
    45% { opacity: 0.3; }
    60% { opacity: 0.9; }
    75% { opacity: 0.4; }
    90% { opacity: 0.8; }
    100% { opacity: 0.1; }
  }