body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255) ; 
  margin-top: 2rem !important;
} 

:root {
  font-size: 18px;
  --coverDelay: 1s;
  --defeyDely: calc(var(--coverDelay) + 350ms);
  --font-reg: 'Roboto', sans-serif;
}

.cover {
  background-color: rgb(243, 243, 243);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:  coverFadeOut 1s var(--smooth-dept) forwards;
  animation-delay: calc(var(--coverDelay) + 350ms);
  scale: 1.3;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes coverFadeOut {
  to {
     border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    scale: 1;
    transform: translateY(70%);
    opacity: 0;    
  }
}

.name-cont{
  display: flex;
  gap: 0.5rem;
  transform: translate(2.2rem);
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000000;
  font-family: roboto, sans-serif;

  display: flex;
  animation: dailupDefey 0.75s var(--smooth-dept) forwards;
  animation-delay: var(--defeyDely);
}

#first .initial {
  animation: firstInitialAnim 0.75s var(--smooth-dept) forwards;
  animation-delay: var(--coverDelay);
}

#last .initial {
  animation: lastInitialAnim 0.75s var(--smooth-dept) forwards;
  animation-delay: var(--coverDelay);
}

@keyframes firstInitialAnim {
  to {
    transform: translateX(8rem);
  }
}

@keyframes lastInitialAnim {
  to {
    transform: translateX(1.2rem);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.dail-up {
  display: flex;
}

@keyframes dailupDefey {

  to {
      transform: translateY(-800%);
  }
}
.column {
  display: flex;
  flex-direction: column;
  gap: -1rem;
  position : relative;
  overflow: hidden;
  height: 4.3rem;
}

.bottom {
  position: absolute;
  top: 0;
  transform: translateY(0%);
  animation: slideDown 0.485s var(--smooth-dept) forwards;
}

.top {
  opacity: 0;
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-120%);
    opacity: 0.2;
  }
}


/* mian page */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;

  font-size: 1.3rem;

  display: flex;
  justify-content: space-around;
  font-family: roboto;

  padding-top: 0.5rem;
}

.nav-links-cont .nav-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.cont {
  margin-top: 2rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.hero {
  padding: 3rem;
  font-family: var(--font-reg);
  display: flex;
  flex-direction: column;

}

.grid-context {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
}

.grid {
  display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0.35rem;
   height: 100%;
   /* background-color: rgba(165, 42, 42, 0.101); */
   margin-top: 1rem;
}

.grid-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden; 
  background-color: transparent !important;
}

.grid-item .title {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 1.3rem;
  position: relative; 
  padding: 0.5rem;
}

.grid-item:hover .title {
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 1;
  z-index: 2;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-item:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  z-index: 1;
}

#item-0 {

   background-color: #588B6F; 
   grid-row-start: 1;
   grid-column-start: 7;

   grid-row-end: 3;
   grid-column-end: 9;
   
}
#item-1 {

   background-color: #1e23ae; 
   grid-row-start: 2;
   grid-column-start: 5;

   grid-row-end: 3;
   grid-column-end: 6;
   
}
#item-2 {

   background-color: #BCD689; 
   grid-row-start: 2;
   grid-column-start: 6;

   grid-row-end: 3;
   grid-column-end: 7;
   
}
#item-3 {

   background-color: #85A9AE; 
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 2;
   grid-column-end: 6;
   
}
#item-4 {

   background-color: #676986; 
   grid-row-start: 1;
   grid-column-start: 6;

   grid-row-end: 2;
   grid-column-end: 7;
   
}
#item-5 {

   background-color: #B9C55F; 
   grid-row-start: 3;
   grid-column-start: 5;

   grid-row-end: 4;
   grid-column-end: 7;
   
}
#item-6 {

   background-color: #958C5A; 
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#item-7 {

   background-color: #F687A5; 
   grid-row-start: 3;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 5;
   
}
#item-8 {

   background-color: #998CA8; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#item-9 {

   background-color: #C77A9D; 
   grid-row-start: 4;
   grid-column-start: 5;

   grid-row-end: 5;
   grid-column-end: 6;
   
}